* *::after, *::before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    background: #fff;
    color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
}
.container{
    width: 85%;
}
h1{
    text-align: center;
    font-size: 46px;
}
#canvas{
    width: 100%;
}
