@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px #efefef inset !important;
}

/* general */
:root {

  /* primary colors */
  --header-color: #FFF;
  --hero-section-gradient: linear-gradient(180deg, #D9E2FB -9.42%, #FFFFFF -9.41%, #D9E3FB 100%);
  --main-color: #FFF;
  --new-products:  linear-gradient(180deg, #D9E2FB -9.42%, #FFFFFF -9.41%, #D9E3FB 100%);
  --footer-color: #0d162f;
  --grey-color: #D9D9D9;

  /* text colors */
  --dark-text: #1E1E1E;
  --light-text: #FFFFFF;

  /* buttons */
  --button-default-state: #4070EC;
  --button-hovered-state: #355DC5;

  /* input fields */
  --input-default-state: #9C9C9F;
  --input-hovered-state: #4070EC;
  --input-invalid-state: #C12727;

  /* fonts */
  --font-family: 'Poppins', sans-serif;

  /* border radius */
  --border-radius: 0.5em;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  max-width: 100%;
}


/* layout */
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  font-size: 1rem;
  color: var(--dark-text);
  background: var(--main-color);
  font-family: var(--font-family);
  line-height: 28px;
  position: relative;
}
img {
  display: block;
  width: 100%;
}


/* typography */
h3 {
  font-size: 40px;
  line-height: 60px;
  font-weight: 700;
}
h4 {
  font-weight: 600;
  font-size: 32px;
  line-height: 54px;
}
p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
small {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
label {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
a {
  text-decoration: none;
  columns: inherit;
}
::placeholder {
  color: #B5B5B7;
  font-weight: 200;
}


/* header */
header {
  font-size: 1em;
  background: var(--main-color);
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0px 4px 64px rgba(64, 112, 236, 0.08);
}
.header-container-mobile {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1em;
  display: block;
}
.header-container-desktop {
  display: none;
}
.head-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav-left, #nav-right {
  width: 30%;
  display: flex;
  align-items: center;
  gap: 1em;
}
#nav-left {
  justify-content: flex-start;
}
#nav-right {
  justify-content: flex-end;
  width: 40%;
}
.menu {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 15%;
  position: relative;
}
#close-box {
  position: absolute;
  background: var(--grey-color);
  border-radius: 100%;
  padding: 0.3em;
  display: none;
}
.h-logo {
  width: 45%;
  display: flex;
  align-items: center;
}
#wishlist {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: min(16%, 50px);
  width: 15%;
}
.login-btn a {
  display: block;
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  background: var(--button-default-state);
  color: var(--light-text);
  border-radius: var(--border-radius);
  font-weight: 500;
  font-size: 1em;
}
.login-btn a:hover, .login-btn a:focus {
  background: var(--button-hovered-state);
}
.head-search {
  width: 100%;
  padding-block-start: 1em;
}
.head-search input[type="search"] {
  width: 100%;
  display: flex;
  padding-block: 1em;
  padding-inline-start: 1em;
  border: 2px solid var(--input-default-state);
  border-radius: var(--border-radius);
  background-image: url('/Final_UI_templates/icons/search.svg');
  background-repeat: no-repeat;
  background-position: 98% 50%;
  background-size: 2em;
}
.head-search input[type="search"]:hover, .head-search input[type="search"]:active, .head-search input[type="search"]:focus {
  border: 2px solid var(--input-hovered-state);
}


/* aside */
aside {
  position: fixed;
  left: 1em;
  right: 1em;
  top: 4em;
  z-index: 10;
  background: var(--main-color);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  border-radius: var(--border-radius);
  display: none;
}
aside ul {
  list-style-type: none;
}
aside a {
  color: var(--dark-text);
}
aside li {
  cursor: pointer;
}
.side-bar>li:first-child:hover, .side-bar>li:last-child:focus {
  background: var(--grey-color);
  font-weight: 500;
}
.side-bar>li:nth-child(2)>div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  width: 100%;
  position: relative;
}
.side-bar>li:nth-child(2)>div:hover, .side-bar>li:nth-child(2)>div:focus {
  background: var(--grey-color);
  font-weight: 500;
}
.side-bar>li>div, .side-bar>li>a {
  padding-block: 1em;
  padding-inline-start: 1em;
  display: block;
}
.categories-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 6em;
  position: relative;
  width: 80%;
}
.categories-list a {
  padding-block: 0.5em;
  padding-inline-start: 1em;
  /* border: 1px solid; */
  display: block;
  right: 1em;
}
.categories-list a:hover, .categories-list a:focus {
  background: var(--grey-color);
  font-weight: 500;
}
.drop-down.down {
  transform: rotate(180deg);
}
.categories-list {
  display: none;
}


/* hero section */
.m-hero-section {
  background: url('/Final_UI_templates/images/Union\ \(1\).png'), url('/Final_UI_templates/images/Union\ \(2\).png'), var(--hero-section-gradient);
  background-repeat: no-repeat, no-repeat;
  background-size: 90%, 5em, 100%;
  background-position: 50% 0%, 0% 97%, 100%;
  padding: 3em 1em;
}
.m-hero-txt {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.m-hero-txt h3 {
  max-width: 17ch;
}
.m-hero-txt p {
  max-width: 42ch;
}
.m-hero-search {
  margin: 1.5em auto;
}
.m-hero-search input[type="search"], .m-hero-search input[type="submit"] {
  display: block;
  width: 100%;
  margin-bottom: 1.5em;
}
.m-hero-search input[type="search"] {
  padding: 1em  2em 1em;
  margin-top: 0.5em;
  color: var(--dark-text);
  font-weight: 500;
  font-size: 0.95em;
  border-radius: var(--border-radius);
  border: 2px solid var(--dark-text);
}
.m-hero-search input[type="search"]:hover, .m-hero-search input[type="search"]:active, .m-hero-search input[type="search"]:focus {
  border-color: var(--input-hovered-state);
}
.m-hero-search input[type="search"]::placeholder {
    font-family: var(--font-family);
    font-size: inherit;
    color: inherit;
    font-weight: 300;
  }
  .m-hero-search input[type="submit"] {
    padding: 0.5em 1.5em;
    background: var(--button-default-state);
    color: var(--light-text);
    border-radius: var(--border-radius);
    width: 30%;
    font-family: var(--font-family);
    font-size: 1em;
    margin-inline: 0%;
    cursor: pointer;
  }
  .m-hero-search input[type="submit"]:hover, .m-hero-search input[type="submit"]:active, .m-hero-search input[type="submit"]:focus {
    background: var(--button-hovered-state);
  }
  .m-hero-brands {
    width: 100%;
    max-width: 480px;
    margin-inline: auto;
    margin-top: 3em;
    display: grid;
    gap: 2em 2em;
    grid-template-columns: auto auto auto auto;
  }
  .m-hero-brands>div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .div-iphone>img {
    width: 50%;
  }
  .div-huawei>img {
    width: 50%;
  }
  .div-xiaomi>img {
    width: 50%;
  }

  /* main */
  .main-container {
    padding: 2em 0em 0em;
  }
  .popular-products {
    background: var(--main-color);
    padding-bottom: 10.5625em;
    padding-inline: 2em;
  }
  .new-products {
    padding-bottom: 7.5em;
    background: var(--new-products);
    padding-inline: 2em;
  }
  .product-img {
    border-left: 1px solid;
    border-right: 1px solid;
    border-top: 1px solid;
    border-color: var(--dark-text);
    width: 100%;
    aspect-ratio: 1.5;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }
  .product-img img {
    width: 100%;
    height: 100%;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }
  .product-price {
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    border: 1px solid var(--footer-color);
    color: var(--light-text);
    background: rgb(27,26,27,0.7);
    border-radius: var(--border-radius);
    padding: 0.25em;
    font-size: 0.8em;
  }
  .product-love {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    font-size:1em;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
  }
  .product-love .material-symbols-sharp {
    color: var(--footer-color);
    font-size: 1.7em;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
  .product-info {
    padding-block: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }
  .product-card {
    position: relative;
    cursor: pointer;
    background: #9FB7F5;
    color: var(--dark-text);
    border-radius: var(--border-radius);
  }
  .product-card a {
    color: inherit;
    text-decoration: none;
  }
  .product-card:hover, .product-card:active, .product-card:focus {
    background-color: var(--footer-color);
    color: var(--light-text);
  }
  .product-card p, .product-card span {
    font-size: 0.875em;
  }
  .phone-name {
    max-width: 26ch;
    padding: 0 1em;
  }
  .avail-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 0 1em;
  }
  .product-info hr {
    height: 1px;
    border: 0.5px solid var(--light-text);
  }
  .review-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
  }
  .stars .material-symbols-sharp {
    color: #EF9560;
    font-size: 1rem;
  }
  .stars .material-symbols-sharp {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
  .stars .material-symbols-sharp:last-child {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
  .see-all-deals {
    width: 100%;
  }
  .see-all-deals a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--button-default-state);
    color: var(--light-text);
    text-decoration: none;
    width: 50%;
    padding: 0.5em 1em;
    border-radius: var(--border-radius);
  }
  .see-all-deals a:hover {
    background: var(--button-hovered-state);
  }


  /* why we are special */
  .who-we-are {
    padding-inline: 1em;
    display: flex;
    flex-direction: column;
    padding-block: 7em 8.16em;
    background: var(--main-color);
    position: relative;
  }
  .ellipse-down {
    position: absolute;
    bottom: 12%;
  }
  .ellipse-up {
    position: absolute;
    top: 5em;
    left: 17em;
  }
  .we-big {
    background-color: var(--main-color);
    width: fit-content;
  }
  .we-big h4 {
    font-weight: 600;
    font-size: 2em;
  }
  .we-right {
    background: var(--main-color);
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-block: 2em 2em;
  }
  .we-right p {
    font-weight: 400;
    font-size: 0.75em;
    line-height: 1.125em;
    text-align: right;
    max-width: 30ch;
  }
  .we-shadow {
    background: var(--main-color);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.11);
    border-radius: var(--border-radius);
    padding: 1em 1.8em 2.875em 1em;
  }
  .we-shadow p {
    font-weight: 400;
    font-size: 1.25em;
    line-height: 1.75em;
    max-width: 30ch;
    margin-inline: auto;
  }



/* footer */
footer {
  background: var(--footer-color);
  color: var(--light-text);
}
.footer-container-mobile {
  padding: 3em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2em;
}
.footer-container-desktop {
  display: none;
}
.copyright-desktop {
  display: none;
}
.f-newsletter form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-block-start: 0.5em;
}
.f-newsletter-form input {
  display: block;
}
#f-newsletter-email {
  padding-block: 1em;
  padding-inline: 1em;
  text-align: center;
  border-radius: var(--border-radius);
  background: inherit;
  color: var(--light-text);
  border: 2px solid var(--input-default-state);
  font-size: 1em;
  font-family: var(--font-family);
}
#f-newsletter-email:hover, #f-newsletter-email:active, #f-newsletter-email:focus {
  border: 2px solid var(--button-hovered-state);
}
#f-newsletter-email::placeholder {
  font-weight: 400;
}
#f-newsletter-submit {
  cursor: pointer;
  padding-block: 1em;
  padding-inline: 1em;
  border-radius: var(--border-radius);
  font-size: 1em;
  font-weight: 600;
  font-family: var(--font-family);
}
#f-newsletter-submit:hover, #f-newsletter-submit:focus {
  background: #dbdbdb;
}
.f-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2em;
}
.f-nav .f-logo {
  width: 20%;
}
.f-nav ul {
  list-style-type: none;
}
#company a {
  color: inherit;
}
#company a:hover, #company a:focus {
  text-decoration: underline;
}
#company li:first-child {
  margin-bottom: 1em;
}
#company li:nth-child(1n) {
  margin-top: 0.5em;
}
.f-brands {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.f-brands .brand-big,
.f-brands .brand-mid,
.f-brands .brand-down {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 30%;
  gap: 1em;
}
.f-brands .brand-big {
  width: 13%;
}
.brand-big img:nth-child(2) {
  width: 50%;
}
.f-brands img {
  width: 60%;
}
.copyright-mobile {
  display: block;
  background-color: var(--grey-color);
  text-align: center;
  color: var(--dark-text);
  padding-block: 0.5em;
}
.emoji {
  color: var(--input-invalid-state);
  font-size: 1.5em;
  display: inline-block;
}








@media screen and (min-width: 1025px) {
  header {
    box-shadow: none;
    position: relative;
    background: none;
    font-size: 0.9em;
  }
  .m-hero-section {
    display: none;
  }
  .header-container-mobile {
    display: none;
  }
  .header-container-desktop {
   display: block;
   background: url('/Final_UI_templates/images/Union\ \(1\).png'), url('/Final_UI_templates/images/Union\ \(2\).png'), url('/Final_UI_templates/images/Ellipse\ 9.png'), url('/Final_UI_templates/images/Ellipse\ 10.png'), linear-gradient(180deg, #D9E2FB -9.42%, #FFFFFF -9.41%, #D9E3FB 100%);
   background-size: 25em, 7em, 25em, 15em, 100%;
   background-position: 40% 0%, 0% 97%, 95% -5%, top left;
   background-repeat: no-repeat;
  }
  .d-header-nav-top {
    display: block;
    padding-block: 1em;
    padding-inline: 5em;
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: space-between;
  }
  .d-hero-section {
    margin-top: 4.125em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3.5em 0;
    padding-inline: 4.5em;
  }
  .d-hero-section-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7em;
  }
  .d-hero-txt-big h2 {
    max-width: 25ch;
    font-size: 3em;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0em;

  }
  .d-hero-txt-mid {
    margin-block: 1em 2em;
  }
  .d-hero-txt-mid p {
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5;
  }
  .d-hero-search form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
  }
  .d-hero-search input[type="search"] {
    width: 100%;
    display: block;
    padding: 1em 2em;
    font-size: 1em;
    border-radius: var(--border-radius);
    border: 2px solid var(--dark-text);
  }
  .d-hero-search input[type="search"]::placeholder {
    font-size: 1em;
    font-family: var(--font-family);
    color: var(--grey-color);
    font-weight: 500;
  }
  .d-hero-search input[type="search"]:hover,   .d-hero-search input[type="search"]:focus,   .d-hero-search input[type="search"]:active {
    border-color: var(--input-hovered-state);
  }
  .d-hero-search input[type="submit"] {
    cursor: pointer;
    width: 25%;
    display: block;
    font-family: var(--font-family);
    font-size: 1em;
    padding: 1em 3em;
    background: var(--button-default-state);
    color: var(--light-text);
    border-radius: var(--border-radius);
  }
  .d-hero-search input[type="submit"]:active,  .d-hero-search input[type="submit"]:hover,  .d-hero-search input[type="submit"]:focus {
    background: var(--button-hovered-state);
  }
  .d-hero-boy-image {
    width: 50%;
  }
  .d-hero-section-brands {
    width: 80%;
    margin: auto;
    margin-block: 3em 4em;
    display: flex;
    gap: 3.625em;
    align-items: center;
    justify-content: space-around;
  }
  aside {
    display: none;
  }
  .d-logo {
    width: 10%;
    display: flex;
    align-items: center;
  }
  .d-search {
    width: 40%;
    left: 0;
  }
  #d-search-form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
  }
  #d-search-search {
    width: 78%;
    border: 2px solid var(--input-default-state);
    display: block;
    padding-block: 0.75em;
    padding-inline: 1em;
    font-weight: 600;
    display: block;
    border-radius: var(--border-radius);
  }
  #d-search-search::placeholder {
    color: var(--dark-text);
    font-family: var(--font-family);
    font-weight: 300;
  }
  #d-search-search:hover, #d-search-search:active, #d-search-search:focus {
    border: 2px solid var(--input-hovered-state);
  }
  #d-search-submit {
    cursor: pointer;
    padding-block: 0.5em;
    padding-inline: 1em;
    display: block;
    border-radius: var(--border-radius);
    background: var(--button-default-state);
    color: var(--light-text);
    border: 2px solid var(--button-default-state);
    font-family: var(--font-family);
    font-size: 1em;
  }
  #d-search-submit:hover, #d-search-submit:focus, #d-search-submit:active {
    background: var(--button-hovered-state);
    border: 2px solid var(--button-hovered-state);
  }
  .d-nav {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .d-nav a, .d-login a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: inherit;
    border: 2px solid rgba(0, 0, 0, 0);
    padding-block: 0.25em;
    padding-inline: 1em;
    border-radius: var(--border-radius);
  }
  .d-nav a:nth-child(3) {
    justify-content: flex-start;
  }
  .d-nav a:nth-child(3)>div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 35%;
  }
  .d-nav a:nth-child(3)>div>img {
    width: 50%;
  }
  .d-login a {
    background: var(--button-default-state);
    color: var(--light-text);
    padding-inline: 1.5em;
  }
  .d-login a:hover, .d-login a:focus, .d-login a:active {
    background: var(--button-hovered-state);
    border: 2px solid var(--button-hovered-state);
  }
  .d-nav a:hover, .d-nav a:focus {
    border: 2px solid var(--button-default-state);
    font-weight: 400;
  }

  .cards-flex {
    /* display: flex;
    gap: 1em;
    justify-content: space-between; */
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
    border: 0;
    /* flex-wrap: wrap; */
    display: grid;
    gap: 2em 2.667%;
    grid-template-columns: 23% 23% 23% 23%;
    width: 100%;
    margin-block: 1em;
    min-height: fit-content;
  }
  .popular-products {
    background: var(--main-color);
  }
  .new-products {
    background: linear-gradient(180deg, #D9E2FB -9.42%, #FFFFFF -9.41%, #D9E3FB 100%);
  }
  .see-all-deals a {
    max-width: 200px;
    margin-inline: auto;
    margin-top: 3.25em;
  }


  .footer-container-mobile {
    display: none;
  }
  .copyright-desktop {
    display: block;
    background-color: var(--grey-color);
    text-align: center;
    color: var(--dark-text);
    padding-block: 0.5em;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .we-right {
    /* display: none; */
    visibility: hidden;
  }
  .copyright-mobile {
    display: none;
  }
  .footer-container-desktop {
    display: block;
    padding-block-start: 4em;
    padding-block-end: 1em;
    padding-inline: 5em;
  }
  .d-footer-container-action {
    width: 100%;
    border-radius: var(--border-radius);
    background: #203876;
    padding: 1.5em 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3.5em;
  }
  .d-footer-container-action h2 {
    max-width: 22ch;
    font-weight: 700;
    font-size: 2em;
    line-height: 1.5;
  }
  .d-footer-container-action nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5em;
    width: 50%;
    max-width: 400px;
  }
  .d-footer-container-action a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 200px;
    font-size: 0.9em;
    display: block;
    padding: 1em 1.5em;
    text-decoration: none;
    color: inherit;
    border-radius: var(--border-radius);
  }
  .d-footer-container-action a:first-child {
    background: var(--button-default-state);
    color: var(--light-text);
  }
  .d-footer-container-action a:last-child {
    background: var(--light-text);
    color: var(--dark-text);
  }
  .d-footer-container-action a:first-child:hover,   .d-footer-container-action a:first-child:active,   .d-footer-container-action a:first-child:focus {
    background: var(--button-hovered-state);
  }
  .d-footer-container-action a:last-child:hover,   .d-footer-container-action a:last-child:active,   .d-footer-container-action a:last-child:focus {
    background: var(--grey-color);
  }
  .d-footer-container-main {
    display: flex;
    gap: 2em;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
  }
  .d-footer-container-main a:hover,  .d-footer-container-main a:focus, .d-footer-container-main:active {
    text-decoration: underline;
  }
  .d-f-logo {
    width: 15%;
  }
  .d-f-nav ul {
    list-style-type: none;
  }
  .d-f-nav a {
    color: inherit;
  }
  .d-f-nav {
    display: flex;
    justify-content: space-around;
    gap: 5em;
    width: 40%;
  }
  #d-company li:first-child {
    margin-bottom: 1em;
  }
  #d-brands li:first-child {
    margin-bottom: 1em;
  }
  #d-company li:nth-child(1n) {
    margin-bottom: 0.5em;
  }
  #d-brands li:nth-child(1n) {
    margin-bottom: 0.5em;
  }
  .d-f-newsletter {
    width: 40%;
  }
  .d-f-newsletter form {
    display: flex;
    justify-content: space-between;
    gap: 0.5em;
    margin-block-start: 1.5em;
  }
  #d-f-newsletter-email {
    padding-block: 0.5em;
    padding-inline: 1em;
    border-radius: 5px;
    width: 70%;
    background: inherit;
    color: var(--light-text);
    border: 2px solid var(--input-default-state);
  }
  #d-f-newsletter-email:focus, #d-f-newsletter-email:hover, #d-f-newsletter-email:active {
    border: 2px solid var(--button-hovered-state);
  }
  #d-f-newsletter-email::placeholder {
    font-family: var(--font-family);
    font-weight: 400;
  }
  #d-f-newsletter-submit {
    cursor: pointer;
    padding-block: 0.5em;
    padding-inline: 1em;
    border-radius: 5px;
    width: 30%;
    font-family: var(--font-family);
    font-weight: 400;
  }
  #d-f-newsletter-submit:hover, #d-f-newsletter-submit:focus {
    background: #dbdbdb;
  }
  
}


@media screen and (max-width: 1024px) and (min-width: 769px) {
  .header-container-mobile {
    display: block;
  }
  .header-container-desktop {
    display: none;
  }
  #nav-right {
    width: 40%;
  }
  #wishlist {
    width: min(16%, 50px);
    width: 10%;
  }
  aside {
    top: 5em;
  }
  .m-hero-section {
    background-size: 70%, 5em, 100%;
  }
  .m-hero-txt h3 {
    max-width: 100%;
  }
  .m-hero-txt p {
    max-width: 100%;
  }
  .cards-flex {
    width: 100%;
    margin-block: 1em;
    display: flex;
    gap: 0em 2em;
    overflow-x: scroll;
    padding: 1em 0em;
    border-right: 2px solid var(--dark-text);
    padding-inline-end: 1em;
  }
  .product-card {
    min-width: min(350px, 70%);
    max-width: 30%;
  }
  .see-all-deals a {
    max-width: 200px;
  }
}

@media screen and (max-width: 768px) and (min-width: 570px) {
  .header-container-mobile {
    display: block;
  }
  .header-container-desktop {
    display: none;
  }
  #nav-right {
    justify-content: flex-end;
    width: 40%;
  }
  #wishlist {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: min(16%, 50px);
    width: 10%;
  }
  aside {
    top: 4.8em;
  }
  .m-hero-txt h3 {
    max-width: 23ch;
  }
  .m-hero-txt p {
    max-width: 100%;
  }
  .cards-flex {
    width: 100%;
    margin-block: 1em;
    display: flex;
    gap: 0em 2em;
    overflow-x: scroll;
    padding: 1em 0em;
    border-right: 2px solid var(--dark-text);
    padding-inline-end: 1em;
  }
  .product-card {
    min-width: min(350px, 70%);
    max-width: 25%;
  }
  .see-all-deals a {
    max-width: 200px;
  }
}


@media screen and (max-width: 570px) and (min-width: 450px) {
  .cards-flex {
    width: 100%;
    margin-block: 1em;
    display: flex;
    gap: 0em 2em;
    overflow-x: scroll;
    padding: 1em 0em;
    border-right: 1px solid var(--dark-text);
    padding-inline-end: 1em;
  }
  .product-card {
    min-width: min(350px, 70%);
    max-width: 25%;
  }
}

@media screen and (max-width: 450px) {
  #nav-left {
    width: 50%;
  }
  #nav-right {
    width: 50%;
  }
  .cards-flex {
    width: 100%;
    margin-block: 1em;
    display: flex;
    gap: 0em 2em;
    overflow-x: scroll;
    padding: 1em 0em;
    border-right: 2px solid var(--dark-text);
    padding-inline-end: 1em;
  }
  .product-card {
    min-width: min(350px, 70%);
  }
}
