
/* main */
.main-mobile-container {
  padding: 4em 1em;
}
.input-div input {
  display: block;
  width: 100%;
}
.mark-div {
  width: 45%;
  max-width: 150px;
  margin: auto;
  background: #2AC127;
  border-radius: 100%;
  margin-bottom: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mark-div img {
  filter: invert(100%);
}
.mail-sent-txt {
  text-align: center;
  width: 100%;
}
.mail-sent-txt h5 {
  max-width: 16ch;
  margin: auto;
  margin-bottom: 0.2em;
}
.mail-sent-txt p {
  max-width: 24ch;
  margin: auto;
}
.form-submit {
  margin: 1em auto;
}
.form-submit input[type="button"] {
  cursor: pointer;
  background: var(--button-default-state);
  color: var(--light-text);
  display: block;
  width: 100%;
  font-size: 1em;
  padding-block: 0.5em;
  font-family: var(--font-family);
  border-radius: var(--border-radius);
  margin: auto;
}
.form-submit input[type="button"]:hover, .form-submit input[type="button"]:focus, .form-submit input[type="button"]:active {
  background: var(--button-hovered-state);
}
.sec-action {
  width: 100%;
  text-align: center;
}
.sec-action small {
  font-size: 13px;
}
.sec-action a {
  color: var(--button-default-state);
}
.sec-action a:hover, .sec-action a:focus, .sec-action a:active {
  color: var(--button-hovered-state);
  text-decoration: underline;
}


/* media queries */
@media screen and (min-width: 1025px) {

  .main-mobile-container {
    padding-block: 2em;
  }
  .mark-div {
    width: 30%;
    max-width: 180px;
  }
  .mail-sent-txt h5 {
    max-width: 100%;
  }
  .mail-sent-txt p {
    max-width: 100%;
  }
  .form-submit input[type="button"] {
    width: 100%;
  }
  .login-form {
    padding: 2.5em 2em;
    width: 65%;
    margin: auto;
    border-radius: var(--border-radius);
    box-shadow: 0px 4px 64px rgba(64, 112, 236, 0.08);
  }
  
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  /* .header-container-mobile {
    display: block;
  }
  .header-container-desktop {
    display: none;
  }
  #nav-right {
    width: 40%;
  }
  #wishlist {
    width: min(16%, 50px);
    width: 10%;
  }
  aside {
    top: 5em;
  } */
}

@media screen and (max-width: 768px) and (min-width: 570px) {
  /* .header-container-mobile {
    display: block;
  }
  .header-container-desktop {
    display: none;
  }
  #nav-right {
    justify-content: flex-end;
    width: 40%;
  }
  #wishlist {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: min(16%, 50px);
    width: 10%;
  }
  aside {
    top: 4.8em;
  } */
  .form-submit input[type="button"] {
    width: 70%;
  }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
  /* #nav-left {
    width: 45%;
  }
  #nav-right {
    width: 45%;
  } */
}
@media screen and (max-width: 450px) {
  #nav-left {
    width: 50%;
  }
  #nav-right {
    width: 50%;
  }
}

