
/* main */
.main-mobile-container {
  padding: 4em 1em;
}
.username {
  margin-block: 2em 1em;
}
.input-div input {
  display: block;
  width: 100%;
}
.input-div input[type="text"] {
  padding: 1em  1em 1em;
  margin-top: 0.5em;
  color: var(--dark-text);
  font-weight: 500;
  font-size: 0.95em;
  border-radius: var(--border-radius);
  border: 2px solid var(--input-default-state);
}
.input-div input[type="password"] {
  padding: 1em  1em 1em;
  margin-top: 0.5em;
  color: var(--dark-text);
  font-weight: 500;
  font-size: 0.95em;
  border-radius: var(--border-radius);
  border: 2px solid var(--input-default-state);
}
.input-div input[type="text"]::placeholder {
  font-family: var(--font-family);
  font-size: inherit;
  color: var(--grey-color);
  font-weight: 300;
}
.input-div input[type="password"]::placeholder {
  font-family: var(--font-family);
  font-size: inherit;
  color: var(--grey-color);
  font-weight: 300;
}
.input-div input[type="text"]:hover, .input-div input[type="text"]:focus, .input-div input[type="text"]:active {
  border-color: var(--input-hovered-state);
}
.input-div input[type="password"]:hover, .input-div input[type="password"]:focus, .input-div input[type="password"]:active {
  border-color: var(--input-hovered-state);
}
.input-div input[type="text"]:focus:invalid, .input-div input[type="password"]:focus:invalid {
  border-color: var(--input-invalid-state);
}
.error-msg {
  color: var(--input-invalid-state);
  display: none;
}
.input-div input[type="text"]:focus:invalid+small, .input-div input[type="password"]:focus:invalid+small {
  display: block;
}
.ter-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.5em;
}
.ter-actions small {
  font-size: 14px;
}
.ter-actions a {
  text-decoration: underline;
  text-decoration-color: blue;
  color: var(--button-default-state);
}
.ter-actions a:hover, .ter-actions a:focus, .ter-actions a:active {
  color: var(--button-hovered-state);
}
.remember-me {
  display: flex;
  align-items: center;
}
.remember-me #rem-text {
  display: flex;
  align-items: center;
  margin-left: 0.3em;
}
input.custom {
  width: 1.3em;
  cursor: pointer;
  aspect-ratio: 1;
}
.form-submit {
  margin: 1em auto;
}
.form-submit input[type="submit"] {
  cursor: pointer;
  background: var(--button-default-state);
  color: var(--light-text);
  display: block;
  width: 100%;
  font-size: 1em;
  padding-block: 0.5em;
  font-family: var(--font-family);
  border-radius: var(--border-radius);
}
.form-submit input[type="submit"]:hover, .form-submit input[type="submit"]:focus, .form-submit input[type="submit"]:active {
  background: var(--button-hovered-state);
}
.sec-action {
  width: 100%;
  text-align: center;
}
.sec-action small {
  font-size: 13px;
}
.sec-action a {
  color: var(--button-default-state);
}
.sec-action a:hover, .sec-action a:focus, .sec-action a:active {
  color: var(--button-hovered-state);
  text-decoration: underline;
}


/* media queries */
@media screen and (min-width: 1025px) {

  .main-mobile-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-form {
    padding: 2.5em 2em;
    width: 65%;
    margin: auto;
    border-radius: var(--border-radius);
    box-shadow: 0px 4px 64px rgba(64, 112, 236, 0.08);
  }
  
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  /* .header-container-mobile {
    display: block;
  }
  .header-container-desktop {
    display: none;
  }
  #nav-right {
    width: 40%;
  }
  #wishlist {
    width: min(16%, 50px);
    width: 10%;
  }
  aside {
    top: 5em;
  } */
}

@media screen and (max-width: 768px) and (min-width: 570px) {
  /* .header-container-mobile {
    display: block;
  }
  .header-container-desktop {
    display: none;
  }
  #nav-right {
    justify-content: flex-end;
    width: 40%;
  }
  #wishlist {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: min(16%, 50px);
    width: 10%;
  }
  aside {
    top: 4.8em;
  } */
}

@media screen and (max-width: 768px) and (min-width: 481px) {
  /* #nav-left {
    width: 45%;
  }
  #nav-right {
    width: 45%;
  } */
}
@media screen and (max-width: 450px) {
  /* #nav-left {
    width: 50%;
  }
  #nav-right {
    width: 50%;
  } */
}

