
/* main */
.main-container {
  width: 100%;
  font-size: 1em;
  margin-block: 3em;
}
.main-container form {
  width: 45%;
  margin-inline: auto;
  padding-block: 1.3em;
  padding-inline: 1em;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 20px 100px 0px;
  border-radius: 0.4em;
}
.form-tittle h5{
  font-weight: 600;
  font-size: 1.1em;
}
#first {
  margin-block: 1em;
}
.details label {
  font-size: 0.9em;
  font-weight: 500;
}
.details input {
  font-size: 0.8em;
  border-radius: 0.4em;
}
.details input[type="email"] {
  padding: 0.4em;
  background: inherit;
  border: 1px solid grey;
  font-weight: 200;
}
.details input[type="password"] {
  padding: 0.4em;
  background: inherit;
  border: 1px solid grey;
  font-weight: 200;
}
.call-to-action {
  margin-block-start: 1.5em;
}
.call-to-action input[type="submit"] {
  background: var(--btn-blue);
  color: var(--light-text);
  padding-block: 0.3em;
  border-radius: 0.4em;
}


