{% extends "price_compare_app/base.html" %}

{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'accounts/css/forgot.css' %}">
{% endblock styles %}


{%block content%}

  <div class="main-container">
    <form action="" method="post" class="login-form">
      {% csrf_token %}
      <section class="form-tittle">
        <h5>Forgot Password?</h5>
      </section>

      <section class="details" id="first">
        {{ password_reset_form }}   
      </section>

      <section class="call-to-action">
        <input type="submit" value="Send password">
      </section>

      <section class="sec-action">
        <p>Remember your password? <a href="{% url 'login' %}">Log in</a></p>
      </section>

    </form>
  </div>

{%endblock content%}

