{% extends "price_compare_app/base.html" %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" href="{% static './accounts/css/forgot_mail-sent.css' %}">
  
{% endblock styles %}
  
{%block content%}
<div class="main-mobile-container">
  <form action="" class="login-form">
    <div class="mark-div"><img src="../../../static/images/icons/done.svg" alt=""></div>
    <div class="mail-sent-txt">
      <h5>Password reset email has been sent</h5>
      <p>We sent a password recover instructions to your email</p>
    </div>

    <div class="form-submit">
      <a href="{% url 'login' %}"><input type="button" value="Login"></a>
    </div>

    <div class="sec-action">
      <small>Didn&apos;t receive email? <a href="{% url 'password_reset' %}">Click to resend</a></small>
    </div>
  </form>
</div>

  
{%endblock content%}