{% extends "price_compare_app/base.html" %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" href="{%static 'accounts/css/reset-style.css' %}">
{% endblock styles %}
  


{%block content%}

<div class="main-container">
  <form action="" method="post" id="login" class="login-form">
    {% csrf_token %}
    <section class="form-tittle">
      <h5>Reset Password</h5>
    </section>


    <section class="details form-field" id="second">
      <label for="login-password">New Password</label>
      <input type="password" name="new_password1" id="form-password" placeholder="********" required="">
      <small id="error" class="small">Invalid format!</small>
    </section>

    <section class="details form-field" id="second">
      <label for="login-password">Confirm new Password</label>
      <input type="password" name="new_password2" id="form-password" placeholder="********" required="">
      <small id="error" class="small">Invalid format!</small>
    </section>
    
    {% for field in form %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    {% endfor %}
    


    <section class="call-to-action">
      <input type="submit" value="Save new password">
    </section>

  </form>
</div>
{%endblock content%}

