{% extends "price_compare_app/base.html" %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" href="{%static 'accounts/css/reset-style.css' %}">
{% endblock styles %}
  


{%block content%}
<div class="main-mobile-container">
  <form method="post" class="login-form">
    <h5>Reset Password</h5>
    {% csrf_token %}
    <div class="new-password input-div">
      <label for="new-password"><p>New Password</p></label>
      <input type="password" name="new_password1" id="new-password" placeholder="*******" min="7" required>
      <small class="error-msg">Inavlid format</small>
    </div>

    <div class="confirm-new-password input-div">
      <label for="c-n-password"><p>Confirm Password</p></label>
      <input type="password" name="new_password2" id="c-n-password" placeholder="*******" min="7" required>
      <small class="error-msg">Password does not match</small>
    </div>

    <div class="form-submit">
      <input type="submit" value="Save new password">
    </div>

    {% for field in form %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    {% endfor %}
  </form>
</div>
{%endblock content%}

