{% extends "price_compare_app/base.html" %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'accounts/css/forgot_mail-sent.css' %}">
  
{% endblock styles %}
  
{%block content%}
  <div class="main-container">
    <form action="" method="get" class="login-form">

      <section class="mark">
        <div class="mark-logo">
          <span id="mrk" class="material-symbols-sharp">done</span>
        </div>
      </section>

      <section class="mark-txt">
        <div class="txt-text">
          <h3>Password reset email has been sent</h3>
          <p>We sent a password recover instructions to your email.</p>
        </div>
      </section>

      <section class="call-to-action">
        <input type="submit" value="Open mail">
      </section>

      <section class="sec-action">
        <p>Didn&apos;t receive the email <a href="#">Click to resend</a></p>
      </section>

    </form>
  </div>
  
{%endblock content%}