{% extends 'price_compare_app/base.html' %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{%static 'accounts/css/signup-style.css'%}">
{% endblock styles %}
  

{% block content %}

  <div class="main-container">
    <form method="post" class="login-form">
      {% csrf_token %}

      <section class="form-tittle">
        <h5>Create an Account</h5>
      </section>

      <section class="details" id="first">
        <label for="login-email">Email Address</label>
        <input type="email" name="email" id="" placeholder="Enter your Email" required>
      </section>

      <section class="details" id="second">
        <label for="username">Username</label>
        <input type="text" name="username" id="" placeholder="Enter your username" required>
      </section>

      <section class="details" id="third">
        <label for="new-password">Password</label>
        <input type="password" name="new-password" id="" placeholder="Enter your password" required>
      </section>

      <section class="details" id="fourth">
        <label for="confirm-password">Confirm Password</label>
        <input type="password" name="confirm-password" id="" placeholder="Confirm Your Password" required>
      </section>

      <section class="ter-action">

        <label for="check">
          <input type="checkbox" name="check" class="custom" id="">
          <p>Remember me</p>
        </label>

      </section>

      <section class="call-to-action">
        <input type="submit" value="Sign Up">
      </section>

      <section class="sec-action">
        <p>Have an account&quest; <a href="{% url 'login' %}">Login</a></p>
      </section>

    </form>
  </div>


{% endblock content %}