@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* general */
:root {
  /* bg colors */
  --pry-color: #EFEFEF;
  --footer-color: #0D162F;
  --copyright: rgb(175,197,191);

  /* buttons */
  --btn-blue: #4070EC;
  --btn-white: rgb(205,222,194);

  /* button active state */
  --hover-blue: #355DC5;

  /* text colors */
  --dark-text: #1E1E1E;
  --light-text: #FFF;

  /* fonts */
  --font-family: 'Poppins', sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  max-width: 100%;
}
html {
  font-size: 18px;
}
img {
  width: 100%;
  display: block;
}
input {
  width: 100%;
  display: block;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}
input[type="submit"]:hover  {
  cursor: pointer;
}
::placeholder {
  color: inherit;
}
li {
  list-style-type: none;
}

/* layout */
body {
  position: relative;
  font-family: var(--font-family);
  color: #1E1E1E;
  background: var(--pry-color);

  font-weight: 400;
  line-height: 1.5;
}
header {
  position: relative;
  padding-block-end: 1.5em;
  min-height: 100vh;
  background: linear-gradient(180deg, #94AFF4 52.92%, #FFFFFF 102.5%);
}
input[type="submit"] {
  cursor: pointer;
}
main {
  background: var(--pry-color);
}
footer {
  background: var(--footer-color);
  color: var(--light-text);
}

/* header */
.bg {
  position: absolute;
  z-index: -1;
  filter: saturate(100%) brightness(200%);
}
.bg img {
  width: 50%;
}
#bg-img1 {
  width: 60%;
  left: 25%;
}
/* #bg-img2 {
  border: 2px solid black;
  width: 40%;
  bottom: -50%;
} */
#bg-img3 img {
  width: 100%;
}
#bg-img3 {
  width: 30%;
  right: 3%;
  top: -5%;
}
#bg-img4 img {
  width: 100%;
}
#bg-img4 {
  width: 30%;
}

.header-top {
  width: 90%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1em;
  font-weight: 500;
  padding-block: 1em;
  z-index: 100;
  /* border: 1px solid; */
}
.header-container a {
  text-decoration: none;
  color: inherit;
}
.header-logo {
  width: 10%; 
}
.header-nav {
  width: 35%;
  margin-inline: auto;
}
.header-nav nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.88em;
}
.header-nav a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba (0,0,0,0);
  padding-block: 0.3em;
  padding-inline: 0.45em;
}
.header-nav a:first-child {
  border: 1px solid var(--btn-blue);
  border-radius: 0.45em;
}
.header-nav a>div {
  display: flex;
  align-items: center;
}
.header-nav a:hover, .header-nav a:focus {
  border-bottom: 1px solid var(--btn-blue);
}
.header-profile a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba (0,0,0,0);
  padding-block: 0.3em;
  padding-inline: 0.3em;
}
.header-profile a>div {
  display: flex;
  align-items: center;
}
.header-profile a:hover, .header-profile a:focus {
  border-bottom: 1px solid var(--btn-blue);
}
.mid {
  width: 90%;
  margin-inline: auto;
  margin-block-start: 2em;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 100;
}
.mid_left {
  margin-block-start: 2.5em;
}
.form_part {
  margin-block: 2em 3em;
}
.form_part #form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
}
.form_part input[type="search"] {
  width: 75%;
  padding-block: 0.8em;
  padding-inline: 1em;
  background: var(--pry-color);
  font-size: 0.7em;
  font-weight: 400;
  border-radius: 0.45em;
}
.form_part input[type="submit"] {
  width: 22%;
  color: var(--light-text);
  background: var(--btn-blue);
  font-size: 0.8em;
  padding-block: 0.55em;
  border-radius: 0.45em;
}
.form_part input[type="submit"]:hover, .form_part input[type="submit"]:focus {
  background: var(--hover-blue);
}
.mid_icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5em;
  width: 50%;
}
.mid_icon .header-icon {
  width: 15%;
}


/* brands */
article {
  width: 100%;
  background: var(--pry-color);
  padding-block: 2.5em 3em;
}
.brands {
  width: 60%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brands>div {
  width: 12%;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.brands .br-logo {
  width: 35%;
  margin-inline: auto;
}
.brands p {
  text-align: center;
}








/* footer */
.footer-container {
  width: 90%;
  margin-inline: auto;
  font-size: 0.85em;
  font-weight: 400;
  padding-block: 2em;
}

.footer-bar {
  width: 100%;
  margin-block-end: 2.5em;
}
.footer_msg {
  width: 90%;
  margin-inline: auto;
  background: #203876;
  padding-block: 1em;
  padding-inline: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.4em;
  background-image: url("/Base_Template/images/Union\ \(4\).png");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 0%;
  background-size: 6em;
}
.msg-text {
  width: 50%;
}
.msg-nav {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  gap: 2em;
}
.msg-nav a {
  padding-block: 0.5em;
  padding-inline: 1.5em;
  border-radius: 0.4em;
}
.msg-nav a:first-child {
  background: var(--btn-blue);
  color: var(--light-text);
}
.msg-nav a:last-child {
  background: var(--btn-white);
  color: var(--dark-text);
  border: 1px groove;
  border-color: var(--btn-white);
}


/* main */
#all_products{
  width:95%;
  margin-inline: auto;
}

#product_section{
  display: flex;
  flex-direction: column;
}
#heading_container{
  display: flex;
  flex-direction: column;
  margin-block: 1em;
}
.top_heading{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 2em;
}
#border{
  display: flex;
  margin-left: 7px;
  margin-right: 4px;
  line-height: 10px;
  border: 2px solid #000000;
  border-radius: 7px;
  padding-left: 4px;
  align-items: center;
}
#sort_stuff{
  display: flex;
  align-items: center;
  font-size: 15px;
}
#below_heading{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.products{
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
  justify-content: space-between;
}
.product_1{
background-color: #afb9d3;
border-radius: 4px;
width:24%;
line-height: 1.2em;
}
.phone_img{
  width:100%;
  margin-top: 2px;
}
.texttop_heading{
  font-size: 1.5em;
}
.below_heading_text{
  font-size: 15px;
  margin-top: -10px;
}
.product_heading{
  font-size: 15px; 
}
.availability{
  font-size: 15px;
  width: 45%;
}
.number_available{
  float: right;
}
.review_rating{
  font-size: 15px;
  margin-top: 12px;
}
.checked {
  color: rgb(0, 0, 0);
}
.unchecked {
  color: transparent;
}
.buttonbelow{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#see_more_button{
  background-color: #4070ec;
  color: white;
  margin-top: 1em;
  width: 125px;
  border-radius: 4px;
  height: 37px;
  border: none;
  font-family: inherit;
  font-size: 0.6em;
}
.rating{
  float: right;
}


















.popular {
  padding-inline: 2em;
  margin-block-end: 3.5em;
}
.popular-text {
  margin-block-end: 1em;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.section-filter {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: space-between;
}
.section-filter .newest {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.newest {
  border: 1px solid;
  padding: 0.1em 0.3em;
  border-radius: 0.4em;
}
.newest div {
  display: flex;
  align-items: center;
}
.filter-icon {
  display: flex;
  align-items: center;
}
.popular-text h3 {
  margin-block-end: 1em;
}
.product-card {
  border-radius: 0.4em;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
  background: var(--gradient-color);
}
.product-card:hover {
  transform: scale(1.05,1.05);
  background: #D9E2FB;
}
hr {
  border: 0.1px solid var(--pry-color);
  height: 0.1px;
}
.phone-img {
  width: 100%;
  background-image: url("/Base_Template/images/iPhone13.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--light-text);
  aspect-ratio: 1;
  border-radius: 0.4em 0.4em 0 0;
}
.phone-txt {
  padding-block: 1em 0.2em;
}
.phone-name {
  max-width: 25ch;
  padding-inline: 1em;
}
.availabilty {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1em 0.5em;
  padding-inline: 1em;
  width: 50%;
}
.review {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block-start: 0.5em;
  padding-inline: 1em;
}
.review .white {
  color: #FFF;
}
.grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 2em;
}
.see-more {
  width: 100%;
  margin-block-start: 2em;
  margin-bottom: 1em;
}
.see-more a {
  text-decoration: none;
  color: var(--light-text);
  background: var(--btn-blue);
  width: 17%;
  margin-inline: auto;
  padding-block: 0.7em;
  padding-inline: 1em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 0.4em;
}
.see-more div {
  display: flex;
  align-items: center;
}
.new-products, .trending {
  background: #D9E2FB;
  padding-inline: 2em;
  padding-block-start: 1em;
  padding-block-end: 3.5em;
}
.new-products .product-card, .trending .product-card {
  background: var(--pry-color);
}
.see-more a:hover {
  background-color: var(--hover-blue);
}







/* display cards */
.display-cards {
  position: relative;
  padding-inline: 2em;
  background: #D9E2FB;
  height: 25em;
  padding-block-end: 3em;
}
.back-card {
  width: 70%;
  display: flex;
  background: #D9E2FB;
  border-radius: 0.4em;
  margin-inline: 10%;
}
.bk-card-img {
  width: 20%;
}
.bk-card-text {
  padding: 0.5em;
}
.bk-card-text h2 {
  font-weight: 600;
}
.front-card {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
  padding: 0 2em 1em;
  width: 70%;
  margin-inline-start: 20%;
  border-radius: 0.4em;
  position: absolute;
  inset: 0;
  top: 13%;
  bottom: 5%;
  z-index: 100;
  background: #D9E2FB;
}
.fr-card-img1{
  width: 20%;
  align-self: flex-end;
}
.fr-card-img1 img {
  margin-bottom: 3em;
  margin-block: 1em;
}
.fr-card-txt {
  text-align: right;
  width: 55%;
  display: flex;
  margin-top: 3.5em;
  justify-content: flex-end;
}
.fr-card-img2 {
  width: 20%;
  padding-bottom: 1em;
}
.fr-card-img2 img {
  width: 100%;
}
.abs-card {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
  width: 35%;
  margin-inline: 30%;
  z-index: 500;
  position: absolute;
  padding: 1em;
  background: #D9E2FB;
  border-radius: 0.4em;
  bottom: 10%;
}
.abs-card p {
  max-width: 33ch;
  margin-inline: auto;
}
.card-nav {
  width: 100%;
  padding-inline-end: 1em;
  display: flex;
  gap: 1.5em;
  align-items: center;
  justify-content: flex-end;
  color: var(--btn-blue);
}
.card-nav span:first-child {
  opacity: 0.3;
}






/* footer */
.footer-body {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer-container a {
  text-decoration: none;
  color: inherit;
}
.footer-logo {
  width: 10%;
}
.footer-nav {
  width: 55%;
}
.footer-nav nav {
  margin-inline-start: 2em;
  display: flex;
  justify-content: flex-start;
  gap: 2em;
  line-height: 1.65;
}
.list h5 {
  font-weight: 400;
  font-size: 1.1em;
  margin-block-end: 0.3em;
}
.list li {
  font-weight: 300;
}
.msg-nav a:first-child:hover {
  background: var(--hover-blue);
}
.newsletter {
  width: 30%;
  margin-inline-start: 2em;
}
.newsletter form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-start: 1.5em;
}
.newsletter label>h5 {
  font-weight: 400;
  font-size: 1.1em;
}
.newsletter input[type="email"] {
  width: 70%;
  padding-block: 0.6em;
  padding-inline: 1em;
  background: inherit;
  color: var(--light-text);
  border: 1.5px solid var(--light-text);
  font-size: 0.7em;
  font-weight: 400;
  border-radius: 0.45em;
}
.newsletter input[type="submit"] {
  width: 28%;
  color: var(--dark-text);
  background: var(--btn-white);
  font-size: 0.7em;
  font-weight: 500;
  border-radius: 0.45em;
  padding-block: 0.75em;
  padding-inline: 0.2em;
}
.copyright {
  text-align: center;
  background: var(--copyright);
  color: var(--dark-text);
  font-size: 0.8em;
  padding-block: 0.5em;
}
.copyright span {
  font-weight: 500;
}
.copyright .emoji {
  color: rgb(155,34,29);
}
