{% extends 'base.html' %}

{% load static %}	

<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->

{% block title %} Pricify Homepage {% endblock %}

{% block content %}
	<!-- <form action="#" method="get">
		{% csrf_token %}
		<input type="text" name="q">
		<button type="submit">Search</button>
	</form> -->

	
{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

	<div class="top-section">
		<h3>Compare prices across multiple platforms</h3>
		<img src="{% static 'images/group.png' %}" alt="">
	</div>

	<section class="header-search">
        <form action="" method="get" class="search-bar">
          <input type="search" name="search" id="" placeholder="What are you looking to find?">
          <input type="submit" class="btn btn-primary" value="Search">
        </form>
      </section>

	<div class="icons">
		<img src="{% static 'images/google.png' %}" alt="">
		<img src="{% static 'images/fb.png' %}" alt="">
		<img src="{% static 'images/twitter.png' %}" alt="">
	</div>

	<div class="brands">
		<div class="brand">
			<img src="{% static 'images/samsung.png' %}" alt="">
			<h6 class="brand-text">Samsung</h6>
		</div>
		<div class="brand">
			<img class="big-img" src="{% static 'images/iphone.png' %}" alt="">
			<h6 class="brand-text">iPhone</h6>
		</div>
		<div class="brand">
			<img class="big-img" src="{% static 'images/huawei.png' %}" alt="">
			<h6 class="brand-text">Huawei</h6>
		</div>
		<div class="brand">
			<img src="{% static 'images/infinix.png' %}" alt="">
			<h6 class="brand-text">Infinix</h6>
		</div>
		<div class="brand">
			<img class="big-img" src="{% static 'images/xiaomi.png' %}" alt="">
			<h6 class="brand-text">Xiaomi</h6>
		</div>
		<div class="brand">
			<img src="{% static 'images/oppo.png' %}" alt="">
			<h6 class="brand-text">Oppo</h6>
		</div>
	</div>


	<!-- New product release -->
	<div class="new-product-release product-card">
		<div class="deals">
			<div class="new-product-release-text">
				<h4>New product release</h4>
				<small>All deals in one place, enjoy</small>
			</div>
			<form action="">
				<label for="new-product-release">Sort by</label>

				<select name="new-product-release" id="new-product-release">
				<option value="newest">Newest</option>
				<option value="most Popular">Most Popular</option>
				<option value="highest price">Highest Price</option>
				<option value="brand">Brand</option>
				</select>
			</form>
		</div>
		<div class="container-fluid">
			<div class="row">
			  <div class="col">
				<div class="card" style="width: 18rem;">
					{% for phone in phones %}
					{% if phone.image %}
						<img class="card-img-top" src="{{ phone.image.url }}" alt="" class="prod-size">
					{% else %}
						<img src="{% static 'images/iphone13.jpg' %}" alt="" class="prod-size">
					{% endif %}
					<div class="card-body">	  
						<ul class="list-group list-group-flush">
							<li class="list-group-item">{{ phone.name }}</li>
							<li class="list-group-item">{{ phone.brand }}</li>
							<li class="list-group-item">{{ phone.star_reviews }}</li>
							<li class="list-group-item">{{ phone.get_jumia_price }}</li>
						</ul>
					</div>
					{% endfor %}
					<div class="card-body"></div>
				</div>
			  </div>
			  <div class="col">
				<div class="card" style="width: 18rem;">
					{% for phone in phones %}
					{% if phone.image %}
						<img class="card-img-top" src="{{ phone.image.url }}" alt="" class="prod-size">
					{% else %}
						<img src="{% static 'images/iphone13.jpg' %}" alt="" class="prod-size">
					{% endif %}
					<div class="card-body">	  
						<ul class="list-group list-group-flush">
							<li class="list-group-item">{{ phone.name }}</li>
							<li class="list-group-item">{{ phone.brand }}</li>
							<li class="list-group-item">{{ phone.star_reviews }}</li>
							<li class="list-group-item">{{ phone.get_jumia_price }}</li>
						</ul>
					</div>
					{% endfor %}
					<div class="card-body"></div>
				</div>
			  </div>
			  <div class="col">
				<div class="card" style="width: 18rem;">
					{% for phone in phones %}
					{% if phone.image %}
						<img class="card-img-top" src="{{ phone.image.url }}" alt="" class="prod-size">
					{% else %}
						<img src="{% static 'images/iphone13.jpg' %}" alt="" class="prod-size">
					{% endif %}
					<div class="card-body">	  
						<ul class="list-group list-group-flush">
							<li class="list-group-item">{{ phone.name }}</li>
							<li class="list-group-item">{{ phone.brand }}</li>
							<li class="list-group-item">{{ phone.star_reviews }}</li>
							<li class="list-group-item">{{ phone.get_jumia_price }}</li>
						</ul>
					</div>
					{% endfor %}
					<div class="card-body"></div>
				</div>
			  </div>
			  <div class="col">
				<div class="card" style="width: 18rem;">
					{% for phone in phones %}
					{% if phone.image %}
						<img class="card-img-top" src="{{ phone.image.url }}" alt="" class="prod-size">
					{% else %}
						<img src="{% static 'images/iphone13.jpg' %}" alt="" class="prod-size">
					{% endif %}
					<div class="card-body">	  
						<ul class="list-group list-group-flush">
							<li class="list-group-item">{{ phone.name }}</li>
							<li class="list-group-item">{{ phone.brand }}</li>
							<li class="list-group-item">{{ phone.star_reviews }}</li>
							<li class="list-group-item">{{ phone.get_jumia_price }}</li>
						</ul>
					</div>
					{% endfor %}
					<div class="card-body"></div>
				</div>
			  </div>
			</div>

		<a class="btn btn-primary" href="#" role="button">See more deals</a>
	</div>


	<!-- New product release -->
	<div class="new-product-release product-card">
		<div class="deals">
			<div class="new-product-release-text">
				<h4>New product release</h4>
				<small>All deals in one place, enjoy</small>
			</div>
			<form action="">
				<label for="new-product-release">Sort by</label>

				<select name="new-product-release" id="new-product-release">
				<option value="newest">Newest</option>
				<option value="most Popular">Most Popular</option>
				<option value="highest price">Highest Price</option>
				<option value="brand">Brand</option>
				</select>
			</form>
		</div>
		<div class="container-fluid">
			<div class="row">
			  <div class="col">
				<div class="card" style="width: 18rem;">
					{% for phone in phones %}
					{% if phone.image %}
						<img class="card-img-top" src="{{ phone.image.url }}" alt="" class="prod-size">
					{% else %}
						<img src="{% static 'images/iphone13.jpg' %}" alt="" class="prod-size">
					{% endif %}
					<div class="card-body">	  
						<ul class="list-group list-group-flush">
							<li class="list-group-item">{{ phone.name }}</li>
							<li class="list-group-item">{{ phone.brand }}</li>
							<li class="list-group-item">{{ phone.star_reviews }}</li>
							<li class="list-group-item">{{ phone.get_jumia_price }}</li>
						</ul>
					</div>
					{% endfor %}
					<div class="card-body"></div>
				</div>
			  </div>
			  <div class="col">
				<div class="card" style="width: 18rem;">
					{% for phone in phones %}
					{% if phone.image %}
						<img class="card-img-top" src="{{ phone.image.url }}" alt="" class="prod-size">
					{% else %}
						<img src="{% static 'images/iphone13.jpg' %}" alt="" class="prod-size">
					{% endif %}
					<div class="card-body">	  
						<ul class="list-group list-group-flush">
							<li class="list-group-item">{{ phone.name }}</li>
							<li class="list-group-item">{{ phone.brand }}</li>
							<li class="list-group-item">{{ phone.star_reviews }}</li>
							<li class="list-group-item">{{ phone.get_jumia_price }}</li>
						</ul>
					</div>
					{% endfor %}
					<div class="card-body"></div>
				</div>
			  </div>
			  <div class="col">
				<div class="card" style="width: 18rem;">
					{% for phone in phones %}
					{% if phone.image %}
						<img class="card-img-top" src="{{ phone.image.url }}" alt="" class="prod-size">
					{% else %}
						<img src="{% static 'images/iphone13.jpg' %}" alt="" class="prod-size">
					{% endif %}
					<div class="card-body">	  
						<ul class="list-group list-group-flush">
							<li class="list-group-item">{{ phone.name }}</li>
							<li class="list-group-item">{{ phone.brand }}</li>
							<li class="list-group-item">{{ phone.star_reviews }}</li>
							<li class="list-group-item">{{ phone.get_jumia_price }}</li>
						</ul>
					</div>
					{% endfor %}
					<div class="card-body"></div>
				</div>
			  </div>
			  <div class="col">
				<div class="card" style="width: 18rem;">
					{% for phone in phones %}
					{% if phone.image %}
						<img class="card-img-top" src="{{ phone.image.url }}" alt="" class="prod-size">
					{% else %}
						<img src="{% static 'images/iphone13.jpg' %}" alt="" class="prod-size">
					{% endif %}
					<div class="card-body">	  
						<ul class="list-group list-group-flush">
							<li class="list-group-item">{{ phone.name }}</li>
							<li class="list-group-item">{{ phone.brand }}</li>
							<li class="list-group-item">{{ phone.star_reviews }}</li>
							<li class="list-group-item">{{ phone.get_jumia_price }}</li>
						</ul>
					</div>
					{% endfor %}
					<div class="card-body"></div>
				</div>
			  </div>
			</div>

		<a class="btn btn-primary" href="#" role="button">See more deals</a>
	</div>

	<!-- New product release -->
	<div class="new-product-release product-card">
		<div class="deals">
			<div class="new-product-release-text">
				<h4>New product release</h4>
				<small>All deals in one place, enjoy</small>
			</div>
			<form action="">
				<label for="new-product-release">Sort by</label>

				<select name="new-product-release" id="new-product-release">
				<option value="newest">Newest</option>
				<option value="most Popular">Most Popular</option>
				<option value="highest price">Highest Price</option>
				<option value="brand">Brand</option>
				</select>
			</form>
		</div>
		<div class="container-fluid">
			<div class="row">
			  <div class="col">
				<div class="card" style="width: 18rem;">
					{% for phone in phones %}
					{% if phone.image %}
						<img class="card-img-top" src="{{ phone.image.url }}" alt="" class="prod-size">
					{% else %}
						<img src="{% static 'images/iphone13.jpg' %}" alt="" class="prod-size">
					{% endif %}
					<div class="card-body">	  
						<ul class="list-group list-group-flush">
							<li class="list-group-item">{{ phone.name }}</li>
							<li class="list-group-item">{{ phone.brand }}</li>
							<li class="list-group-item">{{ phone.star_reviews }}</li>
							<li class="list-group-item">{{ phone.get_jumia_price }}</li>
						</ul>
					</div>
					{% endfor %}
					<div class="card-body"></div>
				</div>
			  </div>
			  <div class="col">
				<div class="card" style="width: 18rem;">
					{% for phone in phones %}
					{% if phone.image %}
						<img class="card-img-top" src="{{ phone.image.url }}" alt="" class="prod-size">
					{% else %}
						<img src="{% static 'images/iphone13.jpg' %}" alt="" class="prod-size">
					{% endif %}
					<div class="card-body">	  
						<ul class="list-group list-group-flush">
							<li class="list-group-item">{{ phone.name }}</li>
							<li class="list-group-item">{{ phone.brand }}</li>
							<li class="list-group-item">{{ phone.star_reviews }}</li>
							<li class="list-group-item">{{ phone.get_jumia_price }}</li>
						</ul>
					</div>
					{% endfor %}
					<div class="card-body"></div>
				</div>
			  </div>
			  <div class="col">
				<div class="card" style="width: 18rem;">
					{% for phone in phones %}
					{% if phone.image %}
						<img class="card-img-top" src="{{ phone.image.url }}" alt="" class="prod-size">
					{% else %}
						<img src="{% static 'images/iphone13.jpg' %}" alt="" class="prod-size">
					{% endif %}
					<div class="card-body">	  
						<ul class="list-group list-group-flush">
							<li class="list-group-item">{{ phone.name }}</li>
							<li class="list-group-item">{{ phone.brand }}</li>
							<li class="list-group-item">{{ phone.star_reviews }}</li>
							<li class="list-group-item">{{ phone.get_jumia_price }}</li>
						</ul>
					</div>
					{% endfor %}
					<div class="card-body"></div>
				</div>
			  </div>
			  <div class="col">
				<div class="card" style="width: 18rem;">
					{% for phone in phones %}
					{% if phone.image %}
						<img class="card-img-top" src="{{ phone.image.url }}" alt="" class="prod-size">
					{% else %}
						<img src="{% static 'images/iphone13.jpg' %}" alt="" class="prod-size">
					{% endif %}
					<div class="card-body">	  
						<ul class="list-group list-group-flush">
							<li class="list-group-item">{{ phone.name }}</li>
							<li class="list-group-item">{{ phone.brand }}</li>
							<li class="list-group-item">{{ phone.star_reviews }}</li>
							<li class="list-group-item">{{ phone.get_jumia_price }}</li>
						</ul>
					</div>
					{% endfor %}
					<div class="card-body"></div>
				</div>
			  </div>
			</div>

		<a class="btn btn-primary" href="#" role="button">See more deals</a>
	</div>	

	<div class="special">
		<div class="special-section">
			<img class="special-img" src="{% static 'images/lady.png' %}" alt="">
			<h2 class="special-text">Why we are special</h2>
		</div>
		<div class="card-group">
			<div class="card-1">
				<img class="special-img" src="{% static 'images/card.png' %}" alt="">
				<p>Our joy is to see all our customers enjoy purchasing products from the comfort of their homes</p>
				<img class="special-img" src="{% static 'images/beauty.png' %}" alt="">
			</div>
			<div class="card-2">
			  <div class="card-body">
				<p class="card-text">Our vision is to make you feel safe when shopping online, giving you free access to helpful information in order to make smart purchasing decisions .</p>
			  </div>
			</div>
		</div>
	</div>
		
	
	<!-- <section class="carousel">
		<div class="carousel__container">
			
			<center style="margin-bottom: 50px; font-size: 20px;">Iphones</center>

			 
			{% for phone in iphones %}
				
				<div class="carousel-item">
					<img class="carousel-item__img" src="{{phone.image.url}}">
					<div class="panel1">
						<a href="#" class="far fa-bookmark"></a>
					</div>
					<div class="panel2">
						<a href="#" class="far fa-thumbs-up"></a>
					</div>
					<div class="info">
						<a><h3>{{phone.name}}</h3></a>
						<div class="stars">
							<i class="fas fa-star"></i> ({{phone.star_reviews}}/5)
						</div>
						<strong class="price"><span class="mrp">{{phone.get_jumia_price}}-</span>&nbsp;&nbsp;{{phone.get_konga_price}}</strong>
					</div>
				</div>

			{%endfor%}
			

		</div>
		<div class="carousel__container">
			
			<center style="margin-bottom: 50px; font-size: 20px;">Samsung</center>

			{% for phone in samsung  %}
				
				<div class="carousel-item">
					<img class="carousel-item__img" src="{{phone.image.url}}">
					<div class="panel1">
						<a href="#" class="far fa-bookmark"></a>
					</div>
					<div class="panel2">
						<a href="#" class="far fa-thumbs-up"></a>
					</div>
					<div class="info">
						<a><h3>{{phone.name}}</h3></a>
						<div class="stars">
							<i class="fas fa-star"></i> ({{phone.star_reviews}}/5)
						</div>
						<strong class="price"><span class="mrp">{{phone.get_jumia_price}}-</span>&nbsp;&nbsp;{{phone.get_konga_price}}</strong>
					</div>
				</div>

			{%endfor%}
			

		</div>
		<div class="carousel__container">
			
			<center style="margin-bottom: 50px; font-size: 20px;">Huawei</center>

			{% for phone in huawei %}
				
				<div class="carousel-item">
					<img class="carousel-item__img" src="{{phone.image.url}}">
					<div class="panel1">
						<a href="#" class="far fa-bookmark"></a>
					</div>
					<div class="panel2">
						<a href="#" class="far fa-thumbs-up"></a>
					</div>
					<div class="info">
						<a><h3>{{phone.name}}</h3></a>
						<div class="stars">
							<i class="fas fa-star"></i> ({{phone.star_reviews}}/5)
						</div>
						<strong class="price"><span class="mrp">{{phone.get_jumia_price}}-</span>&nbsp;&nbsp;{{phone.get_konga_price}}</strong>
					</div>
				</div>

			{% endfor %}
			

		</div>
	</section>
	
	<div> -->


		{% if user.is_authenticated %}

		<h2>Hi {{ user.username }}!</a></h2>
		<p><a href="{% url 'logout' %}">Sign Out</a></p>
		<p><a href="{% url 'password_reset' %}">Reset Password</a></p>

		{% else %}

		<p><a href="#">You are not logged in!</a></p>
		<p> <a href="{% url 'login' %}">Sign In</a></p>
		<p> <a href="{% url 'signup' %}">Sign Up</a></p>


		{% endif %}
	</div>

{% endblock %}