{% extends 'price_compare_app/base.html' %}
{% load static %}
{%block title%}Login{%endblock title%}

{% block styles %}
  <link rel="stylesheet" href="{% static './accounts/css/login.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
{% endblock styles %}


{%block content%}
<main>
  <div class="main-mobile-container">
      
    
   
    <form method="post" class="login-form">
      {% csrf_token %}
      {% include 'accounts/_form_errors.html' %}

      <h5>Welcome Back!</h5>
      <div class="username input-div">
        <label for="username"><p>Username</p></label>
        <input type="text" name="username" id="username" placeholder="username" min="3" max="25" required>
        <small class="error-msg">Invalid format</small>
      </div>

      <div class="password input-div">
        <label for="password"><p>Password</p></label>
        <input type="password" name="password" id="password" placeholder="*******" min="7" required>
        <small class="error-msg">Inavlid format</small>
      </div>

      <div class="ter-actions">
        <div class="remember-me">
          <input type="checkbox" name="checkbox" class="custom" id="checkbox">
          <label for="checkbox" id="rem-text"><small>Remember me</small></label>
        </div>
        <div class="forgot-pass">
          <a href="{% url 'password_reset' %}"><small>Forgot password?</small></a>
        </div>
      </div>

      <div class="form-submit">
        <input type="submit" value="Login">
      </div>

      <div class="sec-action">
        <small>Don&apos;t have an account? <a href="{% url 'signup' %}">Sign Up</a></small>
      </div>
      
    </form>
    
  </div>
</main>

{%endblock content%}