{% extends '_base.html' %}
{% load static %}


{% block styles %}
  <link rel="stylesheet" href="{% static './css/resets.css' %}">
  <script type="text/javascript" src="{% static './js/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static './js/scripts.js' %}"></script>

{% endblock styles %}
  

{% block content %}
  
<main>
  <div class="main-mobile-container">
    <form method="post" class="login-form">
      {% csrf_token %}
      <h5>Forgot Password</h5>
      <div class="forgot-email input-div">
        {{password_reset_form}}
        <small class="error-msg">Invalid format</small>
      </div>

      <div class="form-submit">
        <input type="submit" value="Login">
      </div>

      <div class="sec-action">
        <small>Remember your password? <a href="{% url 'login' %}">Login</a></small>
      </div>
    </form>
  </div>
</main>
{% endblock content %}
  
</html>