{% extends "base.html" %}

{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static './css/reset.css' %}">
{% endblock styles %}


{%block content%}

<div class="main-mobile-container">
  <form method="post" class="login-form">
    {% csrf_token %}
    <h5>Forgot Password</h5>
    <div class="forgot-email input-div">
      {{password_reset_form}}
      <small class="error-msg">Invalid format</small>
    </div>

    <div class="form-submit">
      <input type="submit" value="Reset Password">
    </div>

    <div class="sec-action">
      <small>Remember your password? <a href="{% url 'login' %}">Login</a></small>
    </div>
  </form>
</div>

{%endblock content%}

