@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px var(--input) inset !important;
}

/* general */
:root {
  /* bg colors */
  --pry-color: rgb(205,222,194);
  --input: rgb(177,199,191);
  --footer-color: #0D162F;
  --copyright: rgb(175,197,191);

  /* buttons */
  --btn-blue: #4070EC;
  --btn-white: rgb(205,222,194);

  /* button active state */
  --hover-blue: #355DC5;
  /* text colors */
  --dark-text: #1E1E1E;
  --light-text: #FFF;

  /* fonts */
  --font-family: 'Poppins', sans-serif;

  --error-color: #dc3545;
  --success-color: #28a745;
  --warning-color: #ffc107;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  max-width: 100%;
}
html {
  font-size: 18px;
}
img {
  width: 100%;
  display: block;
}
input {
  width: 100%;
  display: block;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}
input[type="submit"]:hover  {
  cursor: pointer;
  background: var(--hover-blue);
}
::placeholder {
  color: inherit;
}
li {
  list-style-type: none;
}

/* layout */
body {
  position: relative;
  font-family: var(--font-family);
  color: #1E1E1E;
  background: rgb(177,199,191);
  font-weight: 400;
  line-height: 1.5;
}



@media screen and (max-width: 850px) {
  body {
    overflow-x: hidden;
  }
  .header-container {
    display: none;
  }
  .header-container-mobile {
    display: block;
  }
  .header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-container-mobile {
    padding-inline: 1em;
    padding-block: 1em;
  }
  .header-container-mobile a {
    text-decoration: none;
    color: inherit;
  }
  .header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
  }
  .header-nav {
    width: 20%;
    display: flex;
    justify-content: space-between;
  }
  .header-nav nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin-inline-start: 15%;
  }
  .header-logo {
    width: 50%;
  }
  .header-nav a {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-nav a:hover {
    border: 0;
  }
  .cart-img>span, .profile-icon>span, .caret-down>span {
    font-size: 1.6em;
  }
  .header-nav .cart-img, .header-nav .profile-icon, .header-nav .caret-down {
    display: flex;
    align-items: center;
    justify-content: space-between;
  } 
  .caret-down {
    width: 100%;
    align-items: center;
    justify-content: flex-end;
  }
  .account-circle {
    background: var(--copyright);
    border-radius: 100%;
    display: flex;
    align-items: center;
    padding: 0.1em;
  }
  .header-search {
    width: 100%;
  }
  .header-search form {
    width: 100%;
  }
  .header-search input[type="search"] {
    width: 100%;
    margin-block-start: 1em;
    padding: 1em;
    border-radius: 0.4em;
    background: url("/Base_Template/images/search.svg");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 50%;
    background-size: 3em;
    margin-inline: auto;
    /* font-size: 1em; */
  }
  .header-search input::placeholder {
    font-size: 1.2em;
  }
  .footer-container, .copyright {
    display: none;
  }
  .footer-container-mobile, .m-copyright {
    display: block;
  }
  .footer-container-mobile {
    padding-block: 3em;
    padding-inline: 1em;
  }
  .m-newsletter label>h5 {
    font-weight: 400;
    font-size: 1.1em;
  }
  .m-newsletter input[type="email"] {
    padding-block: 0.7em;
    border: 1px solid var(--light-text);
    background: inherit;
    color: var(--light-text);
    border-radius: 0.4em;
  }
  .m-newsletter input[type="submit"] {
    padding-block: 0.7em;
    color: inherit;
    color: var(--footer-color);
    margin-block-start: 0.5em;
    border-radius: 0.4em;
  }
  .m-newsletter input[type="submit"]:hover {
    background: var(--light-text);
  }
  .m-logo-div {
    margin-block: 2em;
  }
  .m-logo {
    width: 20%;
  }
  .m-footer-nav nav {
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: space-between;
    width: 80%;
  }
  .m-footer-nav h5 {
    font-size: 1.3em;
  }
  .m-footer-nav a {
    text-decoration: none;
    color: inherit;
  }
  .m-nav-top, .m-nav-bottom {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .m-nav-top {
    gap: 5em;
  }
  .m-nav-bottom {
    gap: 3em;
  }
  .m-nav-bottom .list {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  .m-nav-bottom ul:first-child {
    width: 45%;
  }
  .m-nav-bottom ul:last-child {
    width: 40%;
  }
  .m-big-brand {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
  }
  .m-big-brand li {
    width: 20%;
  }
  .m-big-brand li:nth-child(2) {
    width: 17%;
  }
  .m-mid-brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .m-mid-brand li {
    width: 45%;
  }
  .m-last-brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .m-last-brand li {
    width: 45%;
  }
  .social-flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .social-flex img {
    filter: invert(100%);
  }
  .social-flex li {
    width: 20%;
  }
  .social-flex li:nth-child(1) {
    width: 13%;
  }
  .m-copyright {
    background: var(--copyright);
    color: var(--dark-text);
    text-align: center;
    padding-block: 1em;
    font-size: 0.8em;
  }
  .m-copyright .emoji {
    color: rgb(155,34,29);
  }

}

