{% extends 'price_compare_app/base.html' %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'price_compare_app/css/404style.css'%}">
{% endblock styles %}


{% block content %}
<div class="main_container">
    <div id="error_image">
      <img src="{%static 'images/404 error.png'%}" alt="page is error">
    </div>
    <div id="error_heading">
    <h1>Ooops Page Not Found</h1>
    </div>
    <div>
    <p>Unfortunately, the page you're looking for does not exist</p>
    </div>
    <div class="go-home">
      <a href="{% url 'index' %}">Take me home</a>
    </div>
</div>
{% endblock content %}
    