{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,1,0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,700,1,200" />
  <link rel="stylesheet" href="{%static 'price_compare_app/css/landingstyle.css'%}">
  <title>Pricify</title>
  <script type="text/javascript" src="{% static 'price_compare_app/js/jquery-3.6.0.min.js' %}"> </script>
</head>
<body>

  <header>

    <div class="header-container">

      <div class="header-top">
        <section class="header-logo">
          <img src="{% static 'images/Choice Logo.png' %}" alt="">
        </section>
  
        <section id="mheader-nav" class="header-nav">
          <nav>

            <a href="{% url 'index' %}">Home</a>
            <a href="#">Categories</a>
            <a href="{% url 'wishlist' %}">Wishlist <div class="cart-img"><span class="material-symbols-sharp">shopping_cart</span></div></a>
            
            <div class="dropdown">
              <div class="dropdown-content">
                <a href="#">Home </a>
                <a href="#">Categories</a>
                <a href="#">Wishlist</a>
              </div>
            </div>
            <!-- <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a> -->
           
          </nav>
        </section>

        <section class="header-profile">
          <div class="desktop_top">
            <div id="view"><div class="profile-icon"><span class="material-symbols-sharp">account_circle</span> Account</div><div class="caret-down" id="drop-down"><span class="material-symbols-sharp">expand_more</span></div></div>
          
        
            <div id="toggleCard">
              {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="toggle_top">Logout</a>
              {% else %}          
                <a href="{% url 'login' %}" class="toggle_top">Login</a>
                <a href="{% url 'signup' %}" class="toggle_bottom">Signup</a>
              {% endif %}
            </div>
          </div>
          <!-- <div class="mobile_top">
            <a href="#">
            <div class="cart-img">
              <span class="material-symbols-sharp">shopping_cart</span>
            </div>
              <div class="profile-icon">
                <span class="material-symbols-sharp">account_circle</span>
              </div>
                <div class="caret-down">
                <span class="material-symbols-sharp">expand_more</span>
              </div>
            </a>
          </div> -->
        </section>
      </div>

      <div class="mid">

        <div class="mid_left">
          <div class="mid_text">
            <h1>
              Compare prices across <br />
              multiple platforms
            </h1>
          </div>

          <div class="form_part">
              <form id=""  action="{% url 'search' %}" method="get" >
                <input
                  type="search"
                  name="search"
                  placeholder="What are you looking to find?"
                />
                <input id="search_button" type="submit" value="Search" />
              </form>
            </div>

<!-- 
          <div class="mid_icon">
            <div class="header-icon"><img class="iconnnn" src="{% static 'images/ri-google-lineSocial.png ' %}" alt="google logo"></div>
            <div class="header-icon"><img class="iconnnn" src="{% static 'images/ri-facebook-lineSocial.png ' %}" alt="facebook logo"></div>
            <div class="header-icon"><img class="iconnnn" src="{% static 'images/ri-twitter-lineSocial.png ' %}" alt="google logo"></div>
          
          </div> -->
        </div>

        <div class="mid_image">
          <img src="{% static 'images/Group 13.png ' %}" alt="image">
        </div>

      </div>

    </div>

    <div class="mobile-header">
      <section class="mobile-nav">
        <div id="left">
          <div class="menuBtn">
            <span class="material-symbols-sharp">menu</span>
          </div>
          <div class="head-logo">
            <img src="{% static 'images/Choice Logo.png ' %}" alt="">
          </div>
        </div>

        <div id="right">
          <div class="mobile-cart">
            <span class="material-symbols-sharp">shopping_cart</span>
          </div>
          <div class="profile-mobile">
            <span class="material-symbols-sharp">account_circle</span>
            <span class="material-symbols-sharp">expand_more</span>
          </div>
        </div>
      </section>
      
      <section class="mobile-search">
        <form action="" class="headSearch">
          <input type="search" name="" id="" placeholder="Search here">
        </form>
      </section>

    </div>

  </header>

  <article class="brand-logo">
    <div class="brands">
      <div>
        <img src="{% static ' images/Vector.png ' %}" alt="">
      </div>
      <div>
        <div id="small" class="br-logo">
          <img src="{% static ' images/cil_car-alt (Traced).png ' %}" alt="">
        </div>
      </div>
      <div>
        <div class="br-logo"><img src="{% static ' images/Vector-1.png ' %}" alt=""></div>
      </div>
      <div>
        <img src="{% static ' images/bi_laptop (Traced).png ' %}" alt="">
      </div>
      <div>
        <div class="br-logo"><img src="{% static ' images/Vector-2.png ' %}" alt=""></div>
      </div>
      <div>
        <img src="{% static ' images/Frame 17 (Traced).png ' %}" alt="">
      </div>
      <!-- <img src="{% static ' images/Vector.png ' %}" alt=""> -->
    </div>
  </article>

  <article class="head-section">
    <div class="sec-txt">
      <h1>Compare prices across multiple platforms</h1>
    </div>
    <div class="sec-search">
      <form action="">
        <input type="search" name="" id="" placeholder="What are you looking to find?">
        <input type="submit" value="Search">
      </form>
    </div>
    <div class="sec-socials">
      <div class="header-icon"><img class="iconnnn" src="{% static ' images/ri-google-lineSocial.png ' %}" alt="google logo"></div>
      <div class="header-icon"><img class="iconnnn" src="{% static ' images/ri-facebook-lineSocial.png ' %}" alt="facebook logo"></div>
      <div class="header-icon"><img class="iconnnn" src="{% static ' images/ri-twitter-lineSocial.png ' %}" alt="google logo"></div>
    </div>
    <div class="sec-brands">
      <div>
        <img src="{% static ' images/Vector.png ' %}" alt="">
      </div>
      <div>
        <div id="small" class="br-logo">
          <img src="{% static ' images/cil_car-alt (Traced).png" alt="">
        </div>
      </div>
      <div>
        <div class="br-logo"><img src="{% static ' images/Vector-1.png" alt=""></div>
      </div>
      <div>
        <img src="{% static ' images/bi_laptop (Traced).png" alt="">
      </div>
      <div>
        <div class="br-logo"><img src="{% static ' images/Vector-2.png" alt=""></div>
      </div>
      <div>
        <img src="{% static ' images/Frame 17 (Traced).png" alt="">
      </div>
      <div>
        <img src="{% static ' images/Tecn.png" alt="">
      </div>
      <!-- <img src="{% static ' images/Vector.png" alt=""> -->
    
    </div>
  </article>