{%load static%}
{% load social_share %} 
<header>
    <script type = 'text/javascript'>
        var user = '{{ request.user }}'
        function getToken(name) {
            var cookieValue =null;
            if(document.cookie && document.cookie !== ''){
                var cookies= document.cookie.split(';');
                for(var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // does this cookie begin with the name we want
                    if (cookie.substring(0, name.length + 1) === (name +'='))
                    {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getToken('csrftoken')
    </script>
    <div class="header-container">

        <section class="header-logo">
            <img src="{% static 'images\Choice Logo.png' %}" alt="">
        </section>

        <section class="header-search">
            <form action="" method="get" class="search-bar">
                <input type="search" name="search" id="" placeholder="What are you looking to find?">
                <input type="submit" value="Search">
            </form>
        </section>

        <section class="header-nav">
            <nav>
                <a href="#">Home</a>
                <a href="#">Categories</a>
                <a href="#">Wishlist <div class="cart-img"><span class="material-symbols-sharp">shopping_cart</span>
                    </div></a>
                <a href="{% url 'login' %}">
                    <div class="profile-icon"><span class="material-symbols-sharp">account_circle</span></div>
                    Login/Signup<div class="caret-down"><span class="material-symbols-sharp">expand_more</span></div>
                </a>
            </nav>
        </section>

    </div>
</header>