{%load static%}
{% load social_share %} 

{% block styles %}
    <link rel="stylesheet" href="{% static 'price_compare_app/css/nav-style.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
{% endblock styles %}
    
<header>
    <script type = 'text/javascript'>
        var user = '{{ request.user }}'
        function getToken(name) {
            var cookieValue =null;
            if(document.cookie && document.cookie !== ''){
                var cookies= document.cookie.split(';');
                for(var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // does this cookie begin with the name we want
                    if (cookie.substring(0, name.length + 1) === (name +'='))
                    {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getToken('csrftoken')
    </script>
    <div class="header-container">

        <section class="header-logo">
            <img src="{% static 'images\Choice Logo.png' %}" alt="">
        </section>

        <section class="header-search">
            <form action="{% url 'search' %}" method="get" class="search-bar">
                <input type="search" name="search" id="" placeholder="What are you looking to find?">
                <input type="submit" value="Search">
            </form>
        </section>

        <section class="header-nav">
            <nav>
                <a href="{% url 'index' %}">Home</a>
                <a href="#">Categories</a>
                <a href="{% url 'wishlist' %}">Wishlist <div class="cart-img"><span class="material-symbols-sharp">shopping_cart</span>
                    </div></a>
                <a href="{% url 'login' %}">
                    <div class="profile-icon"><span class="material-symbols-sharp">account_circle</span></div>
                    Account<div class="caret-down"><span class="material-symbols-sharp">expand_more</span></div>
                </a>
            </nav>
        </section>

    </div>
</header>