{%extends 'price_compare_app/base.html'%}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static './price_compare_app/css/contactUs.css' %}">
{% endblock styles %}

{% block title %} Contact us {% endblock %}

{% block content %}
<main>
    <div class="main-mobile-container">
        <form method="post" class="login-form">
            {% csrf_token %}
            <h5>Contact US</h5>
            <p>We would love to hear from you!</p>
    
            <div class="form-pics"><img src="{%static './images/contact-Image.png'%}" alt=""></div>
    
            <div class="first-name input-div">
                <label for="first-name">
                    <p>First name</p>
                </label>
                <input type="text" name="first_name" id="first-name" placeholder="nelson" min="3" max="30" required>
                <small class="error-msg">Invalid format</small>
            </div>
    
            <div class="last-name input-div">
                <label for="last-name">
                    <p>Last name</p>
                </label>
                <input type="text" name="last_name" id="last-name" placeholder="patrick" min="3" max="30" required>
                <small class="error-msg">Inavlid format</small>
            </div>
    
            <div class="contact-mail input-div">
                <label for="contact-mail">
                    <p>Email address</p>
                </label>
                <input type="email" name="email_address" id="contact-mail" placeholder="you@company.com" required>
                <small class="error-msg">Inavlid format</small>
            </div>
    
            <div class="message input-div">
                <label for="message">
                    <p>Message</p>
                </label>
                <textarea name="message" id="message" cols="30" rows="10" minlength="1" class="message" required></textarea>
                <small class="error-msg">Field cannot be empty</small>
            </div>
    
            <div class="form-submit">
                <input type="submit" value="Send message">
            </div>
        </form>
    </div>
    
    <div class="main-desktop-container">
    
        <form class="contact-form" method="post">
            {% csrf_token %}
            <div class="contact-txt">
                <h5>Contact us</h5>
                <p>We would love to hear from you!</p>
            </div>
    
            <div class="name-input-flex">
                <div class="first-name input-div">
                    <label for="first-name">
                        <p>First name</p>
                    </label>
                    <input type="text" name="first_name" id="first-name" placeholder="nelson" min="3" max="30" required>
                    <small class="error-msg">Invalid format</small>
                </div>
    
                <div class="last-name input-div">
                    <label for="last-name">
                        <p>Last name</p>
                    </label>
                    <input type="text" name="last_name" id="last-name" placeholder="patrick" min="3" max="30" required>
                    <small class="error-msg">Inavlid format</small>
                </div>
            </div>
    
            <div class="form-mail input-div">
                <label for="contact-mail">
                    <p>Email address</p>
                </label>
                <input type="email" name="email_address" id="contact-mail" placeholder="you@company.com" required>
                <small class="error-msg">Inavlid format</small>
            </div>
    
            <div class="message input-div">
                <label for="message">
                    <p>Message</p>
                </label>
                <textarea name="message" id="message" cols="30" rows="10" minlength="1" class="message" required></textarea>
                <small class="error-msg">Field cannot be empty</small>
            </div>
    
            <div class="form-submit">
                <input type="submit" value="Send message">
            </div>
    
        </form>
    
        <div class="d-contact-img"><img src="{%static './images/contact-Image.png'%}" alt=""></div>
    
    </div>
</main>
{% endblock content %}
    