{% extends 'price_compare_app/base.html' %}

{% load static %}

{% block content %}
 <h2>Phone name: {{ data.name }}</h2>
 <h2>Jumia Price: {{ data.price_jumia }}</h2>
 <h2>Konga Price: {{ data.price_konga }}</h2>
 <hr>
  <!-- comments -->
  <h2>{{ reviews.count }} comments</h2>
  {% for review in reviews.all %}

  <div class="comments" style="padding: 10px;">
    <p class="font-weight-bold">
      {{ review.user }}
      <span class=" text-muted font-weight-normal">
        {{ review.phone }}
      </span>
    </p>
    {{ review.comment | linebreaks }}
  </div>
  {% endfor %}
</div>
</div>
<div class="col-md-8 card mb-4  mt-3 ">
<div class="card-body">
  {% if new_review %}
  <div class="alert alert-success" role="alert">
    Your comment is awaiting moderation
  </div>
  {% else %}
  <h3>Leave a comment</h3>
  <form method="post" style="margin-top: 1.3em;">
    {{ review_form.as_p }}
    {% csrf_token %}
    <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
  </form>
  {% endif %}
</div>
</div>
</div>
</div>
 {% endblock %}

