{%load static%}	
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Swiper Demo</title>
	<link rel="stylesheet" type="text/css" href="{% static 'price_compare_app/style.css' %}">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
</head>
<body>
	<section class="carousel">
		<div class="carousel__container">
			
			<center style="margin-bottom: 50px; font-size: 20px;">Welcome at Daily Tutorials</center>


			<div class="carousel-item">
				<img class="carousel-item__img" src="{% static 'images/pic1.jpg' %}">
				<div class="panel1">
					<a href="#" class="far fa-bookmark"></a>
				</div>
				<div class="panel2">
					<a href="#" class="far fa-thumbs-up"></a>
				</div>
				<div class="info">
					<a><h3>Demo Nam</h3></a>
					<div class="stars">
						<i class="fas fa-star"></i> (4.5/5)
					</div>
					<strong class="price"><span class="mrp">1200/-</span>&nbsp;&nbsp;700/-</strong>
				</div>
			</div>

			<div class="carousel-item">
				<img class="carousel-item__img" src="{% static 'images/pic2.jpg' %}">
				<div class="panel1">
					<a href="#" class="far fa-bookmark"></a>
				</div>
				<div class="panel2">
					<a href="#" class="far fa-thumbs-up"></a>
				</div>
				<div class="info">
					<a><h3>Demo Nam</h3></a>
					<div class="stars">
						<i class="fas fa-star"></i> (4.5/5)
					</div>
					<strong class="price"><span class="mrp">1200/-</span>&nbsp;&nbsp;700/-</strong>
				</div>
			</div>

			<div class="carousel-item">
				<img class="carousel-item__img" src="{% static 'images/pic3.jpg' %}">
				<div class="panel1">
					<a href="#" class="far fa-bookmark"></a>
				</div>
				<div class="panel2">
					<a href="#" class="far fa-thumbs-up"></a>
				</div>
				<div class="info">
					<a><h3>Demo Nam</h3></a>
					<div class="stars">
						<i class="fas fa-star"></i> (4.5/5)
					</div>
					<strong class="price"><span class="mrp">1200/-</span>&nbsp;&nbsp;700/-</strong>
				</div>
			</div>

			<div class="carousel-item">
				<img class="carousel-item__img" src="{% static 'images/pic4.jpg' %}">
				<div class="panel1">
					<a href="#" class="far fa-bookmark"></a>
				</div>
				<div class="panel2">
					<a href="#" class="far fa-thumbs-up"></a>
				</div>
				<div class="info">
					<a><h3>Demo Nam</h3></a>
					<div class="stars">
						<i class="fas fa-star"></i> (4.5/5)
					</div>
					<strong class="price"><span class="mrp">1200/-</span>&nbsp;&nbsp;700/-</strong>
				</div>
			</div>

			<div class="carousel-item">
				<img class="carousel-item__img" src="{% static 'images/pic5.jpg' %}">
				<div class="panel1">
					<a href="#" class="far fa-bookmark"></a>
				</div>
				<div class="panel2">
					<a href="#" class="far fa-thumbs-up"></a>
				</div>
				<div class="info">
					<a><h3>Demo Nam</h3></a>
					<div class="stars">
						<i class="fas fa-star"></i> (4.5/5)
					</div>
					<strong class="price"><span class="mrp">1200/-</span>&nbsp;&nbsp;700/-</strong>
				</div>
			</div>

			<div class="carousel-item">
				<img class="carousel-item__img" src="{% static 'images/pic6.jpg' %}">
				<div class="panel1">
					<a href="#" class="far fa-bookmark"></a>
				</div>
				<div class="panel2">
					<a href="#" class="far fa-thumbs-up"></a>
				</div>
				<div class="info">
					<a><h3>Demo Nam</h3></a>
					<div class="stars">
						<i class="fas fa-star"></i> (4.5/5)
					</div>
					<strong class="price"><span class="mrp">1200/-</span>&nbsp;&nbsp;700/-</strong>
				</div>
			</div>

			<div class="carousel-item">
				<img class="carousel-item__img" src="{% static 'images/pic7.jpg' %}">
				<div class="panel1">
					<a href="#" class="far fa-bookmark"></a>
				</div>
				<div class="panel2">
					<a href="#" class="far fa-thumbs-up"></a>
				</div>
				<div class="info">
					<a><h3>Demo Nam</h3></a>
					<div class="stars">
						<i class="fas fa-star"></i> (4.5/5)
					</div>
					<strong class="price"><span class="mrp">1200/-</span>&nbsp;&nbsp;700/-</strong>
				</div>
			</div>

			<div class="carousel-item">
				<img class="carousel-item__img" src="{% static 'images/pic8.jpg' %}">
				<div class="panel1">
					<a href="#" class="far fa-bookmark"></a>
				</div>
				<div class="panel2">
					<a href="#" class="far fa-thumbs-up"></a>
				</div>
				<div class="info">
					<a><h3>Demo Nam</h3></a>
					<div class="stars">
						<i class="fas fa-star"></i> (4.5/5)
					</div>
					<strong class="price"><span class="mrp">1200/-</span>&nbsp;&nbsp;700/-</strong>
				</div>
			</div>



		</div>
	</section>
	
	<div>


		{% if user.is_authenticated %}

		<h2>Hi {{ user.username }}!</a></h2>
		<p><a href="{% url 'logout' %}">Sign Out</a></p>
		<p><a href="{% url 'password_reset' %}">Reset Password</a></p>

		{% else %}

		<p><a href="#">You are not logged in!</a></p>
		<p> <a href="{% url 'login' %}">Sign In</a></p>
		<p> <a href="{% url 'signup' %}">Sign Up</a></p>


		{% endif %}


		
	</div>
</body>
</html>