{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="{% static 'price_compare_app/css/landingstyle.css' %}">

  <title>Pricify</title>
  <script type="text/javascript" src="{% static 'price_compare_app/js/jquery-3.6.0.min.js' %}"> </script>
</head>
<body>
    
  <header>

    <div class="header-container">

      <div class="header-top">
        <section class="header-logo">
          <img src="{% static 'images\Choice Logo.png' %}" alt="">
        </section>
  
        <section class="header-nav">
          <nav>
            <a href="#">Home</a>
            <a href="#">Categories</a>
            <a href="#">Wishlist <div class="cart-img"><span class="material-symbols-sharp">shopping_cart</span></div></a>
            
            <div class="dropdown">
              <div class="dropdown-content">
                <a href="#">Home </a>
                <a href="#">Categories</a>
                <a href="#">Wishlist</a>
              </div>
            </div>
            <!-- <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a> -->
           
          </nav>
        </section>

        <section class="header-profile">
          <div id="view"><div class="profile-icon"><span class="material-symbols-sharp">account_circle</span> Account</div><div class="caret-down" id="drop-down"><span class="material-symbols-sharp">expand_more</span></div></div>
          <div id="toggleCard">
            <a href="\Base_Template/Login_page/login.html" class="toggle_top">Login</a>
            <a href="\Base_Template/Signup_page/signup.html" class="toggle_bottom">Signup</a>
          </div>
        </div>
        <!-- <div class="mobile_top">
          <a href="#">
          <div class="cart-img">
            <span class="material-symbols-sharp">shopping_cart</span>
          </div>
            <div class="profile-icon">
              <span class="material-symbols-sharp">account_circle</span>
            </div>
          {% else %}
            <div id="toggleCard">
              <a href="{% url 'login' %}" class="toggle_top">Login</a>
              <a href="{% url 'signup' %}" class="toggle_bottom">Signup</a>
            </div>
          </a>
        </div> -->
        </section>
      </div>

      <div class="mid">

        <div class="mid_left">
          <div class="mid_text">
            <h1>
              Compare prices across <br />
              multiple platforms
            </h1>
          </div>

          <div class="form_part">
            <form id="form" action="live.js" method="get">
              <input type="search" name="q" placeholder="What are you looking to find?" id="query"/>
              <input id="search_button" type="submit" value="Search" />
            </form>
          </div>

          <div class="mid_icon">

          {% endfor %}
            
         
        </div>

        <div class="see-more">
          <a href="#">See all deals <div><span class="material-symbols-sharp">open_in_new</span></div></a>
        </div>

      </section>

      <section class="new-products">

        <div class="popular-text">
          <div class="section-heading">
            <h3>New Product release</h3>
            <p>All deals in one place</p>
          </div>
          <div class="section-filter">
            <div class="sort-by">
              <span>Sort by</span>
            </div>
            <div class="newest">
              <span>Newest </span><div class="drop-down"><span class="material-symbols-sharp">expand_more </span></div>
            </div>
            <div class="filter-icon">
              <span class="material-symbols-sharp">filter_list</span>
            </div>
          </div>
        </div>
        
        <div class="product-div grid">
          
          <a href="#"><section class="product-card">

            <div class="price">$500</div>
            <div class="fav"><span class="material-symbols-sharp fav-icon" style="font-size: 1.6em; font-weight: 400; color: var(--dark-text);">favorite</span></div>
            
            <div class="phone-img">
              <div class="img"><img src="{% static 'images/iphone12_ProMax.webp' %}" alt=""></div>
            </div>
            
            <div class="phone-txt">
              
              <p class="phone-name">Apple iPhone 13 Pro Max 256GB Gold</p>
              
              <div class="availabilty">
                <p>Availablity</p>
                <p>4</p>
              </div>
              
              <hr>
              
              <div class="review">
                <p>Review</p>
                <p>★★★★<span class="white">★</span></p>
              </div>
              
            </div>
            
          </section></a>
          
          <a href="#"><section class="product-card">

            <div class="price">$500</div>
            <div class="fav"><span class="material-symbols-sharp fav-icon" style="font-size: 1.6em; font-weight: 400; color: var(--dark-text);">favorite</span></div>
            
            <div class="phone-img">
              <div class="img"><img src="{% static 'images/iphone12_ProMax.webp' %}" alt=""></div>
            </div>
            
            <div class="phone-txt">
              
              <p class="phone-name">Apple iPhone 13 Pro Max 256GB Gold</p>
              
              <div class="availabilty">
                <p>Availablity</p>
                <p>4</p>
              </div>
              
              <hr>
              
              <div class="review">
                <p>Review</p>
                <p>★★★★<span class="white">★</span></p>
              </div>
              
            </div>
            
          </section></a>
          
          <a href="#"><section class="product-card">

            <div class="price">$500</div>
            <div class="fav"><span class="material-symbols-sharp fav-icon" style="font-size: 1.6em; font-weight: 400; color: var(--dark-text);">favorite</span></div>
            
            <div class="phone-img">
              <div class="img"><img src="{% static 'images/iphone12_ProMax.webp' %}" alt=""></div>
            </div>
            
            <div class="phone-txt">
              
              <p class="phone-name">Apple iPhone 13 Pro Max 256GB Gold</p>
              
              <div class="availabilty">
                <p>Availablity</p>
                <p>4</p>
              </div>
              
              <hr>
              
              <div class="review">
                <p>Review</p>
                <p>★★★★<span class="white">★</span></p>
              </div>
              
            </div>
            
          </section></a>
          
          <a href="#"><section class="product-card">

            <div class="price">$500</div>
            <div class="fav"><span class="material-symbols-sharp fav-icon" style="font-size: 1.6em; font-weight: 400; color: var(--dark-text);">favorite</span></div>
            
            <div class="phone-img">
              <div class="img"><img src="{% static 'images/iphone12_ProMax.webp' %}" alt=""></div>
            </div>
            
            <div class="phone-txt">
              
              <p class="phone-name">Apple iPhone 13 Pro Max 256GB Gold</p>
              
              <div class="availabilty">
                <p>Availablity</p>
                <p>4</p>
              </div>
              
              <hr>
              
              <div class="review">
                <p>Review</p>
                <p>★★★★<span class="white">★</span></p>
              </div>
              
            </div>
            
          </section></a>
                  
        </div>

        <div class="see-more">
          <a href="#">See all deals <div><span class="material-symbols-sharp">open_in_new</span></div></a>
        </div>

      </section>

      <section class="trending">

        <div class="popular-text">
          <div class="section-heading">
            <h3>Trending Products</h3>
            <p>All deals in one place</p>
          </div>
          <div class="section-filter">
            <div class="sort-by">
              <span>Sort by</span>
            </div>
            <div class="newest">
              <span>Newest </span><div class="drop-down"><span class="material-symbols-sharp">expand_more </span></div>
            </div>
            <div class="filter-icon">
              <span class="material-symbols-sharp">filter_list</span>
            </div>
          </div>
        </div>
        
        <div class="product-div grid">
          
          <a href="#"><section class="product-card">

            <div class="price">$500</div>
            <div class="fav"><span class="material-symbols-sharp fav-icon" style="font-size: 1.6em; font-weight: 400; color: var(--dark-text);">favorite</span></div>
            
            <div class="phone-img">
              <div class= "img"><img src="{% static 'images/iphone12.jpg' %}" alt=""></div>
            </div>
            
            <div class="phone-txt">
              
              <p class="phone-name">Apple iPhone 13 Pro Max 256GB Gold</p>
              
              <div class="availabilty">
                <p>Availablity</p>
                <p>4</p>
              </div>
              
              <hr>
              
              <div class="review">
                <p>Review</p>
                <p>★★★★<span class="white">★</span></p>
              </div>
              
            </div>
            
          </section></a>
          
          <a href="#"><section class="product-card">

            <div class="price">$500</div>
            <div class="fav"><span class="material-symbols-sharp fav-icon" style="font-size: 1.6em; font-weight: 400; color: var(--dark-text);">favorite</span></div>
            
            <div class="phone-img">
              <div class= "img"><img src="{% static 'images/iphone12.jpg' %}" alt=""></div>
            </div>
            
            <div class="phone-txt">
              
              <p class="phone-name">Apple iPhone 13 Pro Max 256GB Gold</p>
              
              <div class="availabilty">
                <p>Availablity</p>
                <p>4</p>
              </div>
              
              <hr>
              
              <div class="review">
                <p>Review</p>
                <p>★★★★<span class="white">★</span></p>
              </div>
              
            </div>
            
          </section></a>
          
          <a href="#"><section class="product-card">

            <div class="price">$500</div>
            <div class="fav"><span class="material-symbols-sharp fav-icon" style="font-size: 1.6em; font-weight: 400; color: var(--dark-text);">favorite</span></div>
            
            <div class="phone-img">
              <div class= "img"><img src="{% static 'images/iphone12.jpg' %}" alt=""></div>
            </div>
            
            <div class="phone-txt">
              
              <p class="phone-name">Apple iPhone 13 Pro Max 256GB Gold</p>
              
              <div class="availabilty">
                <p>Availablity</p>
                <p>4</p>
              </div>
              
              <hr>
              
              <div class="review">
                <p>Review</p>
                <p>★★★★<span class="white">★</span></p>
              </div>
              
            </div>
            
          </section></a>
          
          <a href="#"><section class="product-card">

            <div class="price">$500</div>
            <div class="fav"><span class="material-symbols-sharp fav-icon" style="font-size: 1.6em;">favorite</span></div>
            
            <div class="phone-img">
              <div class= "img"><img src="{% static 'images/iphone12.jpg' %}" alt=""></div>
            </div>
            
            <div class="phone-txt">
              
              <p class="phone-name">Apple iPhone 13 Pro Max 256GB Gold</p>
              
              <div class="availabilty">
                <p>Availablity</p>
                <p>4</p>
              </div>
              
              <hr>
              
              <div class="review">
                <p>Review</p>
                <p>★★★★<span class="white">★</span></p>
              </div>
              
            </div>
            
          </section></a>
                  
        </div>

        <div class="see-more">
          <a href="#">See all deals <div><span class="material-symbols-sharp">open_in_new</span></div></a>
        </div>

      </section>
      
      <section class="display-cards">      
        <div class="back-card">
          <div class="bk-card-img">
            <img src="{% static 'images\Pics 185.png' %}" alt="">
          </div>
          <div class="bk-card-text">
            <h2>Why we are special</h2>
          </div>
        </div>

        <div class="front-card">

          <div class="fr-card-img1">
            <img src="{% static 'images\unsplash_7qCeFo19r24.png' %}" alt="">
          </div>
          
          <div class="fr-card-txt"><p>Our joy is to see all our customers<br>enjoy purchasing products from the<br>comfort of their homes</p></div>

          <div class="fr-card-img2">
            <img src="{% static 'images\New Pics.png' %}" alt="">
          </div>


        </div>


        <div class="abs-card">
          <p>Our vision is to make you feel safe when shopping online, giving you free access to helpful information in order to make smart purchasing decisions.</p>
        </div>
      </section>

      <section class="mobile-d-cards">
        <div id="big">
          <h1>Why we are special</h1>
        </div>
        <div id="middle">
          <p>Our joy is to see all our customers 
            enjoy purchasing products from the 
            comfort of their homes</p>
        </div>
        <div id="shadowed">
          <p>Our vision is to make you feel 
            safe when shopping online, 
            giving you free access to helpful 
            information in order to make 
            smart purchasing decisions.</p>
        </div>
      </section>

    </div>
  </main>

  <footer>
    
    <div class="footer-container">

      <div class="footer-bar">
        <div class="footer_msg">
          <div class="msg-text">
            <h1>Join millions of other <br />satisfied customers</h1>
          </div>
          <div class="msg-nav">
            <a href="#">Sign up</a>
            <a href="#">Sign in</a>
          </div>
        </div>
      </div>

      <div class="footer-body">
        <section class="footer-logo">
          <img src="{% static 'images\White Logo.png' %}" alt="">
        </section>
  
        <section class="footer-nav">
          <nav>
            <ul class="list">
              <h5>Company</h5>
              <li><a href="#">About us</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
            <ul class="list">
              <h5>Brands</h5>
              <li><a href="#">Samsung</a></li>
              <li><a href="#">iPhone</a></li>
              <li><a href="#">Techno</a></li>
              <li><a href="#">Infinix</a></li>
              <li><a href="#">Huawei</a></li>
              <li><a href="#">Xiaomi</a></li>
              <li><a href="#">Oppo</a></li>
            </ul>
            <ul class="list">
              <h5>Services</h5>
              <li><a href="#">Prices</a></li>
              <li><a href="#">Rating</a></li>
              <li><a href="#">Availabilty</a></li>
            </ul>
            <ul class="list">
              <h5>Social</h5>
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Instagram</a></li>
            </ul>
          </nav>
        </section>
  
        <section class="newsletter">
          <label for="newsletter"><h5>Newsletter Subscription</h5></label>
          <form action="" method="get"> 
            <input type="email" name="newsletter" id="email" placeholder="Subscribe to our newsletter">
            <input type="submit" value="Subscribe">
          </form>
        </section>
  
      </div>
    
      
    </div>

    <div class="copyright">
      <p>Copyright 2022. Made with&nbsp;    <span class="emoji">❤</span>&nbsp;    from Zuri Project. <span>Team 27</span></p>
    </div>

    <div class="footer-container-mobile">

      <section class="m-newsletter">
        <label for="m-newsletter"><h5>Newsletter Subscription</h5></label>
        <form method="get">
          <input type="email" name="m-newsletter" id="m-newsletter-email" placeholder="Subcribe to our newsletter">
          <input type="submit" value="Subcribe">
        </form>
      </section>

      <section class="m-logo-div">
        <div class="m-logo"><img src="images\White Logo.png" alt=""></div>
      </section>

      <section class="m-footer-nav">
        <nav>
          <div class="m-nav-top">
            <ul class="list">
              <h5>Company</h5>
              <li><a href="#">About us</a></li>
              <li><a href="#">Contact</a></li>
            </ul>

            <ul class="list">
              <h5>Services</h5>
              <li>Prices</li>
              <li>Rating</li>
              <li>Availabilty</li>
            </ul>
          </div>

          <div class="m-nav-bottom">
            <ul class="list">
              <h5>Brands</h5>
              <div class="m-big-brand">
                <li><img src="images\VectorWhite-1.png" alt=""></li>
                <li><img src="images\cil_car-alt (Traced)White.png" alt=""></li>
                <li><img src="images\VectorWhite-2.png" alt=""></li>
              </div>

              <div class="m-mid-brand">
                <li><img src="images\bi_laptop (Traced)White.png" alt=""></li>
                <li><img src="images\TecnWhite.png" alt=""></li>
              </div>

              <div class="m-last-brand">
                <li><img src="images\Frame 17 (Traced)White.png" alt=""></li>
                <li><img src="images\VectorWhite.png" alt=""></li>
              </div>
            </ul>

            <ul class="list">
              <h5>Social</h5>
              <div class="social-flex">
                <li><a href="#"><img src="/Base_Template/images/facebook.svg" alt=""></a></li>
                <li><a href="#"><img src="/Base_Template/images/instagram.svg" alt=""></a></li>
                <li><a href="#"><img src="/Base_Template/images/twitter.svg" alt=""></a></li>
              </div>
            </ul>
          </div>
        </nav>
      </section>
    </div>

  </footer>
  <script src="{% static 'price_compare_app/js/live.js' %}"></script>
</body>
</html>
