{% load static %}
  {% include 'price_compare_app/_landingheader.html' %}
  <main>
    <div class="main-container">
      
      <section class="popular">
    
        <div class="popular-text">
          <div class="section-heading">
            <h3>Popular Products</h3>
            <p>All deals in one place</p>
          </div>
          <div class="section-filter">
            <div class="sort-by">
              <span>Sort by</span>
            </div>
            <div class="newest">
              <span>Newest </span><div class="drop-down"><span class="material-symbols-sharp">expand_more </span></div>
            </div>
            <div class="filter-icon">
              <span class="material-symbols-sharp">filter_list</span>
            </div>
          </div>
        </div>
        
        
          <div class="product-div grid">
            {% for phone in iphones %}

              <a href="{% url 'phone-details' phone.id %}"><section class="product-card">
                <div class="price">$500</div>
                <div class="fav"><span class="material-symbols-sharp fav-icon" style="font-size: 1.6em; font-weight: 400; color: var(--dark-text);">favorite</span></div>

                <div class="phone-img">
                  <div class="img"><img src="{{phone.image.url}}" alt=""></div>
                </div>
                
                <div class="phone-txt">
                  
                  <p class="phone-name">{{phone.name}}</p>
                  
                  <div class="availabilty">
                    <p>Availablity</p>
                    <p>4</p>
                  </div>
                  
                  <hr>
                  
                  <div class="review">
                    <p>Review</p>
                    <p>★★★★<span class="white">★</span></p>
                  </div>
                  
                </div>
                
              </section></a>
            
            {% endfor %}
          </div>
        
          
       

        <div class="see-more">
          <a href="#">See all deals <div><span class="material-symbols-sharp">open_in_new</span></div></a>
        </div>

      </section>

      <section class="new-products">

        <div class="popular-text">
          <div class="section-heading">
            <h3>New Product release</h3>
            <p>All deals in one place</p>
          </div>
          <div class="section-filter">
            <div class="sort-by">
              <span>Sort by</span>
            </div>
            <div class="newest">
              <span>Newest </span><div class="drop-down"><span class="material-symbols-sharp">expand_more </span></div>
            </div>
            <div class="filter-icon">
              <span class="material-symbols-sharp">filter_list</span>
            </div>
          </div>
        </div>
        
        <div class="product-div grid">
          {% for phone in samsung %}  
            <a href="{% url 'phone-details' phone.id %}"><section class="product-card">

              <div class="price">$500</div>
              <div class="fav"><span class="material-symbols-sharp fav-icon" style="font-size: 1.6em; font-weight: 400; color: var(--dark-text);">favorite</span></div>
              
              <div class="phone-img">
                <div class="img"><img src="{{phone.image.url}}" alt=""></div>
              </div>
              
              <div class="phone-txt">
                
                <p class="phone-name">{{phone.name}}</p>
                
                <div class="availabilty">
                  <p>Availablity</p>
                  <p>4</p>
                </div>
                
                <hr>
                
                <div class="review">
                  <p>Review</p>
                  <p>★★★★<span class="white">★</span></p>
                </div>
                
              </div>
              
            </section></a>
          {% endfor %}
                  
        </div>

        <div class="see-more">
          <a href="#">See all deals <div><span class="material-symbols-sharp">open_in_new</span></div></a>
        </div>

      </section>

      <section class="trending">

        <div class="popular-text">
          <div class="section-heading">
            <h3>Trending Products</h3>
            <p>All deals in one place</p>
          </div>
          <div class="section-filter">
            <div class="sort-by">
              <span>Sort by</span>
            </div>
            <div class="newest">
              <span>Newest </span><div class="drop-down"><span class="material-symbols-sharp">expand_more </span></div>
            </div>
            <div class="filter-icon">
              <span class="material-symbols-sharp">filter_list</span>
            </div>
          </div>
        </div>
        
        <div class="product-div grid">
            {% for phone in huawei %}
              <a href="{% url 'phone-details' phone.id %}"><section class="product-card">

                <div class="price">$500</div>
                <div class="fav"><span class="material-symbols-sharp fav-icon" style="font-size: 1.6em; font-weight: 400; color: var(--dark-text);">favorite</span></div>
                
                <div class="phone-img">
                  <div class= "img"><img src="{{phone.image.url}}" alt=""></div>
                </div>
                
                <div class="phone-txt">
                  
                  <p class="phone-name">Apple iPhone 13 Pro Max 256GB Gold</p>
                  
                  <div class="availabilty">
                    <p>Availablity</p>
                    <p>4</p>
                  </div>
                  
                  <hr>
                  
                  <div class="review">
                    <p>Review</p>
                    <p>★★★★<span class="white">★</span></p>
                  </div>
                  
                </div>
                
              </section></a>
            {% endfor%}
                  
        </div>

        <div class="see-more">
          <a href="#">See all deals <div><span class="material-symbols-sharp">open_in_new</span></div></a>
        </div>

      </section>
      
      <section class="display-cards">      
        <div class="back-card">
          <div class="bk-card-img">
            <img src="{% static 'images/Pics 185.png' %}" alt="">
          </div>
          <div class="bk-card-text">
            <h2>Why we are special</h2>
          </div>
        </div>

        <div class="front-card">

          <div class="fr-card-img1">
            <img src="{% static 'images/unsplash_7qCeFo19r24.png' %}" alt="">
          </div>
          
          <div class="fr-card-txt"><p>Our joy is to see all our customers<br>enjoy purchasing products from the<br>comfort of their homes</p></div>

          <div class="fr-card-img2">
            <img src="{% static 'images/New Pics.png' %}" alt="">
          </div>


        </div>


        <div class="abs-card">
          <p>Our vision is to make you feel safe when shopping online, giving you free access to helpful information in order to make smart purchasing decisions.</p>
        </div>
      </section>

      <section class="mobile-d-cards">
        <div id="big">
          <h1>Why we are special</h1>
        </div>
        <div id="middle">
          <p>Our joy is to see all our customers 
            enjoy purchasing products from the 
            comfort of their homes</p>
        </div>
        <div id="shadowed">
          <p>Our vision is to make you feel 
            safe when shopping online, 
            giving you free access to helpful 
            information in order to make 
            smart purchasing decisions.</p>
        </div>
      </section>

    </div>
  </main>

  {% include 'price_compare_app/_landingfooter.html' %}
  <script src="{% static 'price_compare_app/js/live.js' %}"></script>
</body>
</html>