{% extends 'price_compare_app/base.html' %}
{% load static %}
{% block title %} Wishlist {% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static './price_compare_app/css/wishlist.css' %}">
{% endblock styles %}
    

{% block content %}
<div class="main-container">

    <section class="popular">
    
        <div class="popular-text">
            <div class="section-heading">
                <h2>Wishlist</h2>
            </div>
        </div>
    
        <div class="product-div grid">
            
            {% for item in items  %}
                      
            {% endfor %}
          
    
        </div>
    
    
    </section>

</div>
{% endblock content %}