{% extends 'price_compare_app/categories/category_base.html' %}
{% block content %}
    {% include 'price_compare_app/categories/category_side_nav.html' %}  
    <div class="m-main-container">
        <div class="m-main-categories-txt">
            <h2>Categories</h2>
        </div>
    
        <div class="m-main-categories-list">
            <div class="category-brand-name">
                <h6>Samsung</h6>
            </div>
            <div class="categories-list-flex">
                {% for phone in samsungs %}
                <p class="phone-name"><a href="{% url 'phone-details' phone.id %}"
                        style="text-decoration: none;">{{phone.name}}</a>
                </p>
                {% endfor %}
            </div>
        </div>
    
        <div class="m-main-categories-list">
            <div class="category-brand-name">
                <h6>Apple</h6>
            </div>
            <div class="categories-list-flex">
                {% for phone in iphones %}
                <p class="phone-name"><a href="{% url 'phone-details' phone.id %}"
                        style="text-decoration: none;">{{phone.name}}</a>
                </p>
                {% endfor %}
            </div>
        </div>
    
        <div class="m-main-categories-list">
            <div class="category-brand-name">
                <h6>Tecno</h6>
            </div>
            <div class="categories-list-flex">
                {% for phone in tecnos %}
                <p class="phone-name"><a href="{% url 'phone-details' phone.id %}"
                        style="text-decoration: none;">{{phone.name}}</a>
                </p>
                {% endfor %}
            </div>
        </div>
    
        <div class="m-main-categories-list">
            <div class="category-brand-name">
                <h6>Oppo</h6>
            </div>
            <div class="categories-list-flex">
                {% for phone in oppos %}
                <p class="phone-name"><a href="{% url 'phone-details' phone.id %}"
                        style="text-decoration: none;">{{phone.name}}</a>
                </p>
                {% endfor %}
            </div>
        </div>
    
        <div class="m-main-categories-list">
            <div class="category-brand-name">
                <h6>Infinix</h6>
            </div>
            <div class="categories-list-flex">
                {% for phone in infinixs %}
                <p class="phone-name"><a href="{% url 'phone-details' phone.id %}"
                        style="text-decoration: none;">{{phone.name}}</a>
                </p>
                {% endfor %}
            </div>
        </div>
    
        <div class="m-main-categories-list">
            <div class="category-brand-name">
                <h6>Xiaomi</h6>
            </div>
            <div class="categories-list-flex">
                {% for phone in xiaomis %}
                <p class="phone-name"><a href="{% url 'phone-details' phone.id %}"
                        style="text-decoration: none;">{{phone.name}}</a>
                </p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="d-main-container">
        <div class="d-big-name">
            <h4>Iphone</h4>
        </div>
        
        <div class="cards-grid cards-flex">
            
            {% for phone in iphones %}
                    
                <div class="product-card">
                    <div class="product-price">{{phone.price_range}}</div>
                    <div class="product-love"><span class="material-symbols-sharp" id="add-to-cart">favorite</span>
                    </div>
                    <div class="product-img"><img src="{{phone.image.url}}" alt=""></div>
                    <a href="{% url 'phone-details' phone.id %}">
                        <div class="product-info">
                            <div class="phone-name-div">
                                <p class="phone-name">{{phone.name}}</p>
                            </div>
                            <div class="avail-div">
                                <p class="avail">Shopping platform availability</p>
                                <p>2</p>
                            </div>
                            <hr>
                            <div class="review-div">
                                <p class="review">Review</p>
                                <p class="stars">
                                    <span class="material-symbols-sharp">star</span>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
            


        </div>
    </div>

{% endblock content %}